#page_header {
  background-color: #8661C1;
  width: 100%;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#page_header > .div_1 {
  grid-template-columns: 1fr 3fr;
  display: grid;
  width: 80%;
  min-height: 100px;
  align-items: center;
}
#page_header > .div_1 > a > .Logo {
  width: 40px;
  justify-self: start;
  align-self: center;
  padding: 10px;
  background-color: #2E294E;
  border-radius: 50%;
}
#page_header > .div_1 > .Menu {
  width: 40px;
  justify-self: end;
  align-self: center;
}

@media only screen and (min-width: 700px) {
  #page_header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
#footer {
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}
#footer > span {
  min-height: 40vh;
  width: 90%;
  grid-template-columns: 2fr 1fr;
  display: grid;
}
#footer > span > div {
  border-radius: 25px;
  width: 90%;
  background-color: #2E294E;
  display: grid;
}
#footer > span > div > p,
#footer > span > div h4,
#footer > span > div a {
  color: #BE97C6;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#footer > span > nav {
  background-color: #2E294E;
  border-radius: 25px;
  display: grid;
}
#footer > span > nav > p,
#footer > span > nav h4,
#footer > span > nav a {
  color: #2E294E;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#footer > span > nav .text {
  color: #EFBCD5;
}
#footer > span > nav .insta {
  padding: 10px;
  background-color: #8661c1;
  border-radius: 45%;
  width: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #8661C1;
}

#page_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#page_main > #hero_section {
  display: grid;
}
#page_main > #hero_section > .about_article {
  place-items: center;
  display: grid;
  align-items: center;
}
#page_main > #hero_section > .about_article > #span_image {
  grid-template-rows: 1fr;
  border-radius: 25px;
  height: 400px;
  margin-bottom: 25px;
  margin-top: 25px;
  display: grid;
  background-color: #2E294E;
  width: 80%;
  place-items: center;
  align-items: center;
}
#page_main > #hero_section > .about_article > #span_image > img {
  border-radius: 10%;
  width: 75%;
  object-fit: cover;
}
#page_main > #hero_section > .about_article > span {
  border-radius: 25px;
  height: 500px;
  grid-template-rows: 50px 125px 225px;
  width: 80%;
  background-color: #2E294E;
  display: grid;
  justify-items: start;
  align-content: center;
  text-align: start;
}
#page_main > #hero_section > .about_article > span > h3 {
  color: white;
  margin-left: 25px;
}
#page_main > #hero_section > .about_article > span > p {
  width: 80%;
  color: white;
  margin-left: 25px;
}
#page_main > #hero_section > .about_article > span > h2 {
  color: white;
  margin-left: 25px;
}
#page_main > #hero_section > .about_article > span > a {
  margin-left: 25px;
  color: white;
}
#page_main > #hero_section > .hours_article {
  display: grid;
  place-items: center;
}
#page_main > #hero_section > .hours_article > span {
  width: 65%;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #2E294E;
  border-radius: 25px;
  height: 275px;
  color: white;
}

@media only screen and (min-width: 700px) {
  #page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #page_main > #hero_section > .about_article {
    grid-template-columns: 1fr 1fr;
  }
  #page_main > #hero_section > .about_article > #span_image {
    grid-template-rows: 1fr;
    border-radius: 25px;
    height: 600px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: grid;
    background-color: #2E294E;
    width: 80%;
    place-items: center;
    align-items: center;
  }
  #page_main > #hero_section > .about_article > #span_image > img {
    border-radius: 10%;
    height: 500px;
    object-fit: cover;
  }
  #page_main > #hero_section > .about_article > span {
    width: 80%;
    height: 600px;
  }
  #page_main > #hero_section > .hours_article > span {
    width: 90%;
    height: 475px;
    font-size: 1.5em;
  }
  #page_main > #hero_section > .hours_article > span > h1 {
    font-size: 1.75em;
  }
}

/*# sourceMappingURL=about.css.map */
