#page_header {
  width: 100%;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #000022;
  margin-bottom: 50px;
}
#page_header > .div_1 {
  grid-template-columns: 1fr 3fr;
  display: grid;
  width: 80%;
  align-items: center;
  min-height: 100px;
}
#page_header > .div_1 > a > .Logo {
  width: 40px;
  justify-self: start;
  align-self: center;
  padding: 10px;
  background-color: #FBF5F3;
  border-radius: 50%;
}
#page_header > .div_1 > .Menu {
  width: 40px;
  justify-self: end;
  align-self: center;
}

#footer {
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}
#footer > article {
  place-items: center;
  width: 100%;
  display: grid;
}
#footer > article > span {
  min-height: 40vh;
  width: 80%;
  grid-template-columns: 2fr 1fr;
  display: grid;
}
#footer > article > span > div {
  border-radius: 25px;
  width: 80%;
  background-color: #FBF5F3;
  display: grid;
}
#footer > article > span > div > p,
#footer > article > span > div h4,
#footer > article > span > div a {
  color: #000022;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#footer > article > span > nav {
  background-color: #FBF5F3;
  border-radius: 25px;
  display: grid;
}
#footer > article > span > nav > p,
#footer > article > span > nav h4,
#footer > article > span > nav a {
  color: #000022;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#footer > article > span > nav .text {
  color: #000022;
}
#footer > article > span > nav .insta {
  padding: 10px;
  background-color: #000022;
  border-radius: 45%;
  width: 20px;
}

@media only screen and (min-width: 700px) {
  #footer > article {
    width: 90%;
  }
  #footer > article > span {
    width: 90%;
  }
  #footer > article > span > div {
    width: 90%;
  }
}
@media only screen and (min-width: 1080px) {
  #footer {
    background-color: #FBF5F3;
    margin: 0;
  }
  #footer > article > span > div {
    display: grid;
    grid-template-rows: 75px 75px 75px 75px 75px;
  }
  #footer > article > span > nav {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 75px 75px 75px 75px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #000022;
}

#page_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
}
#page_main > #hero_section {
  width: 100%;
  display: grid;
}
#page_main > #hero_section > .about_article {
  place-items: center;
  display: grid;
  align-items: center;
  width: 100%;
}
#page_main > #hero_section > .about_article > #span_image {
  grid-template-rows: 1fr;
  border-radius: 25px;
  height: 400px;
  margin-bottom: 25px;
  margin-top: 25px;
  display: grid;
  background-color: #FBF5F3;
  width: 80%;
  place-items: center;
  align-items: center;
}
#page_main > #hero_section > .about_article > #span_image > img {
  border-radius: 10%;
  width: 75%;
  object-fit: cover;
}
#page_main > #hero_section > .about_article > span {
  border-radius: 25px;
  height: 500px;
  grid-template-rows: 50px 125px 225px;
  width: 80%;
  background-color: #FBF5F3;
  display: grid;
  justify-items: start;
  align-content: center;
  text-align: start;
}
#page_main > #hero_section > .about_article > span > h3 {
  color: #000022;
  margin-left: 25px;
}
#page_main > #hero_section > .about_article > span > p {
  width: 80%;
  color: #000022;
  margin-left: 25px;
}
#page_main > #hero_section > .about_article > span > h2 {
  width: 90%;
  color: #000022;
  margin-left: 25px;
}
#page_main > #hero_section > .about_article > span > a {
  border-radius: 25px;
  background-color: #000022;
  padding: 15px;
  margin-left: 25px;
  color: #E28413;
}
#page_main > #hero_section > .hours_article {
  display: grid;
  place-items: center;
  width: 100%;
}
#page_main > #hero_section > .hours_article > span {
  margin: 25px;
  width: 80%;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #FBF5F3;
  border-radius: 25px;
  height: 275px;
  color: #000022;
}
#page_main > #hero_section > .hours_article > #video {
  margin-bottom: 50px;
  width: 80%;
}
#page_main > #hero_section > .hours_article > #video > #video_width {
  width: 80%;
  height: 80%;
}

@media only screen and (min-width: 700px) {
  #page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    place-items: center;
  }
  #page_main > #hero_section {
    width: 90%;
    place-items: center;
  }
  #page_main > #hero_section > .about_article {
    grid-template-columns: 1fr 1fr;
    width: 95%;
  }
  #page_main > #hero_section > .about_article > #span_image {
    grid-template-rows: 1fr;
    border-radius: 25px;
    height: 600px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: grid;
    width: 90%;
    place-items: center;
    align-items: center;
  }
  #page_main > #hero_section > .about_article > #span_image > img {
    border-radius: 10%;
    height: 500px;
    object-fit: cover;
  }
  #page_main > #hero_section > .about_article > span {
    width: 90%;
    height: 600px;
  }
  #page_main > #hero_section > .hours_article {
    width: 95%;
  }
  #page_main > #hero_section > .hours_article > span {
    width: 95%;
    height: 475px;
    font-size: 1.5em;
  }
  #page_main > #hero_section > .hours_article > span > h1 {
    font-size: 1.75em;
  }
  #page_main > #hero_section > .hours_article > span > #video {
    margin-bottom: 50px;
    width: 95%;
  }
}
@media only screen and (min-width: 1080px) {
  #page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(850px, 1fr));
    place-items: center;
  }
  #page_main > #hero_section {
    place-items: center;
    width: 75%;
  }
  #page_main > #hero_section > .about_article {
    grid-template-columns: 1fr 1fr;
  }
  #page_main > #hero_section > .about_article > #span_image {
    width: 95%;
  }
  #page_main > #hero_section > .about_article > span {
    width: 95%;
  }
  #page_main > #hero_section > .hours_article {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  #page_main > #hero_section > .hours_article > span {
    margin-bottom: 50px;
    width: 95%;
  }
  #page_main > #hero_section > .hours_article > #video {
    margin-bottom: 50px;
    width: 95%;
  }
}

/*# sourceMappingURL=about.css.map */
