#page_header {
  background-color: #8661C1;
  width: 100%;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#page_header > .div_1 {
  grid-template-columns: 1fr 3fr;
  display: grid;
  width: 80%;
  align-items: center;
  min-height: 100px;
}
#page_header > .div_1 > a > .Logo {
  width: 40px;
  justify-self: start;
  align-self: center;
  padding: 10px;
  background-color: #2E294E;
  border-radius: 50%;
}
#page_header > .div_1 > .Menu {
  width: 40px;
  justify-self: end;
  align-self: center;
}

#footer {
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}
#footer > span {
  min-height: 40vh;
  width: 90%;
  grid-template-columns: 2fr 1fr;
  display: grid;
}
#footer > span > div {
  border-radius: 25px;
  width: 90%;
  background-color: #2E294E;
  display: grid;
}
#footer > span > div > p,
#footer > span > div h4,
#footer > span > div a {
  color: #BE97C6;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#footer > span > nav {
  background-color: #2E294E;
  border-radius: 25px;
  display: grid;
}
#footer > span > nav > p,
#footer > span > nav h4,
#footer > span > nav a {
  color: #2E294E;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#footer > span > nav .text {
  color: #EFBCD5;
}
#footer > span > nav .insta {
  padding: 10px;
  background-color: #8661c1;
  border-radius: 45%;
  width: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #8661C1;
}

#page_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}
#page_main > #hero_section {
  display: grid;
  place-items: center;
  width: 100%;
}
#page_main > #hero_section > .images_article {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  place-items: center;
  display: grid;
  align-content: center;
}
#page_main > #hero_section > .images_article > span {
  border-radius: 25px;
  align-content: center;
  grid-template-rows: 375px 300px 300px;
  display: grid;
  place-items: center;
  align-items: center;
}
#page_main > #hero_section > .images_article > span > .image1 {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
#page_main > #hero_section > .images_article > span > .image2 {
  border-radius: 50%;
  width: 225px;
  height: 225px;
}
#page_main > #hero_section > .images_article > span > .image3 {
  border-radius: 50%;
  width: 225px;
  height: 225px;
}
#page_main > #hero_section > .contact_article {
  display: grid;
  place-items: center;
  width: 100%;
  grid-template-rows: 1fr 1fr;
}
#page_main > #hero_section > .contact_article > span {
  border-radius: 25px;
  align-content: center;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  place-items: center;
  display: grid;
  width: 80%;
  background-color: #2E294E;
  grid-template-rows: 25px 25px;
}
#page_main > #hero_section > .contact_article > span > p {
  align-content: center;
  text-align: center;
  color: white;
}
#page_main > #hero_section > #submit {
  width: 90%;
  display: grid;
  place-items: center;
}
#page_main > #hero_section > #submit > span {
  display: grid;
  background-color: #2E294E;
  width: 80%;
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  align-content: center;
  height: 50px;
}
#page_main > #hero_section > #submit > span > a {
  color: white;
}
#page_main > #hero_section > .contact_article_locations {
  width: 100%;
  display: grid;
  place-items: center;
}
#page_main > #hero_section > .contact_article_locations > span {
  margin-top: 25px;
  border-radius: 25px;
  align-content: center;
  height: 100px;
  grid-template-rows: 50px 50px;
  place-items: center;
  display: grid;
  width: 80%;
  background-color: #2E294E;
}

@media only screen and (min-width: 700px) {
  #page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    place-items: center;
  }
  #page_main > #hero_section {
    width: 90%;
    place-items: center;
  }
  #page_main > #hero_section > .images_article > span {
    width: 90%;
  }
  #page_main > #hero_section > .contact_article_locations {
    align-content: center;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #page_main > #hero_section > .contact_article_locations > span {
    color: white;
    margin-top: 25px;
    border-radius: 25px;
    align-content: center;
    height: 125px;
    grid-template-rows: 50px 50px;
    place-items: center;
    display: grid;
    width: 95%;
    background-color: #2E294E;
  }
  #page_main > #hero_section > #submit {
    width: 90%;
    display: grid;
    place-items: center;
  }
  #page_main > #hero_section > #submit > span {
    display: grid;
    background-color: #2E294E;
    width: 95%;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    align-content: center;
    height: 50px;
  }
  #page_main > #hero_section > #submit > span > a {
    color: white;
  }
  #page_main > #hero_section > .contact_article {
    display: grid;
    place-items: center;
    height: 125px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  #page_main > #hero_section > .contact_article > span {
    place-items: center;
    width: 95%;
  }
  #page_main > #hero_section > .contact_article > span > p {
    align-self: center;
    text-align: center;
    color: white;
    color: white;
  }
}
@media only screen and (min-width: 1080px) {
  #page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(850px, 1fr));
    place-items: center;
  }
  #page_main > #hero_section {
    width: 75%;
    place-items: center;
  }
  #page_main > #hero_section > .images_article {
    margin-bottom: 100px;
  }
  #page_main > #hero_section > .images_article > span {
    height: 1000px;
    grid-template-rows: 250px 525px 100px 100px;
  }
  #page_main > #hero_section > .images_article > span > h1 {
    font-size: 3em;
  }
  #page_main > #hero_section > .images_article > span > .image1 {
    height: 550px;
    width: 525px;
  }
  #page_main > #hero_section > .images_article > span > .image2 {
    transform: translateY(-120px) translateX(-180px);
    height: 325px;
    width: 325px;
  }
  #page_main > #hero_section > .images_article > span > .image3 {
    transform: translateY(-30px) translateX(100px);
    height: 225px;
    width: 225px;
  }
  #page_main > #hero_section > .contact_article {
    width: 40%;
    display: grid;
    place-items: center;
    height: 100px;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    align-items: center;
  }
  #page_main > #hero_section > .contact_article > span {
    height: 90px;
    place-items: center;
    width: 90%;
  }
  #page_main > #hero_section > .contact_article > span > p {
    align-self: center;
    text-align: center;
    color: white;
    color: white;
  }
  #page_main > #hero_section > .contact_article_locations {
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    align-items: center;
    place-items: center;
    margin-bottom: 50px;
    width: 40%;
  }
  #page_main > #hero_section > .contact_article_locations > span {
    color: white;
    margin-top: 25px;
    border-radius: 25px;
    height: 125px;
    grid-template-rows: 50px 50px;
    place-items: center;
    display: grid;
    width: 90%;
    background-color: #2E294E;
  }
  #page_main > #hero_section > #submit {
    width: 40%;
    display: grid;
    place-items: center;
  }
  #page_main > #hero_section > #submit > span {
    display: grid;
    background-color: #2E294E;
    width: 85%;
    border-radius: 25px;
    text-align: center;
    align-content: center;
    height: 50px;
  }
  #page_main > #hero_section > #submit > span > a {
    color: white;
  }
}

/*# sourceMappingURL=contact.css.map */
