svg {
  color: #000022;
}

body {
  font-family: sans-serif;
  background-color: #000022;
}

* {
  margin: 0;
  padding: 0;
}

#page_header {
  width: 100%;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #000022;
}
#page_header > div {
  width: 100%;
  display: grid;
  place-items: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  height: 100px;
}
#page_header > div > a:hover > .logo {
  background-color: #E28413;
  color: #FBF5F3;
}
#page_header > div > a > .logo {
  width: 40px;
  margin-right: 50px;
  align-self: center;
  padding: 10px;
  background-color: #FBF5F3;
  border-radius: 50%;
}
#page_header > div > label:hover > .menu {
  color: #E28413;
}
#page_header > div > label > .menu {
  color: #FBF5F3;
  width: 40px;
  margin-left: 50px;
  align-self: center;
}
#page_header > div > #mobile_menu {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  display: grid;
  place-items: center;
  grid-template-rows: 20vh 20vh 20vh 20vh;
  width: 100%;
  height: 100%;
  background-color: #000022;
  visibility: hidden;
  transition: all ease-in-out 0.33s;
  transform: scale(0);
}
#page_header > div > #mobile_menu > a {
  text-align: center;
  display: grid;
  align-self: center;
  width: 100%;
  background-color: #FBF5F3;
  padding: 25px;
  color: #E28413;
}
#page_header > div > #mobile_menu > #menu_header {
  display: grid;
  place-items: center;
  width: 100%;
  grid-auto-flow: column;
  height: 100%;
}
#page_header > div > #mobile_menu > #menu_header > label:hover > .hoverable {
  color: #E28413;
}
#page_header > div > #mobile_menu > #menu_header > label > .hoverable {
  color: white;
}
#page_header > div > #mobile_menu > #menu_header > a:hover > .logo {
  background-color: #E28413;
  color: #FBF5F3;
}
#page_header > div > #mobile_menu > #menu_header > a > .logo {
  width: 40px;
  margin-right: 50px;
  align-self: center;
  padding: 10px;
  background-color: #FBF5F3;
  border-radius: 50%;
}
#page_header > div > #menu_open:checked ~ #mobile_menu {
  visibility: visible;
  transform: scale(1);
  z-index: 10;
}
#page_header > div .hoverable {
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0px 0px 0px black);
}
#page_header > div .hoverable:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 6px gray);
}

.menu_radio_button {
  display: none;
}

#page_header_bread {
  margin-bottom: 30px;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#page_header_bread > span {
  width: 100%;
  background-color: #E28413;
  padding-top: 25px;
  padding-bottom: 25px;
}
#page_header_bread > span .container_div {
  width: 100%;
  height: 400px;
  display: grid;
  position: relative;
  background-image: url(/images/1\ \(25\).avif);
  background-position: 50% 50%;
  object-fit: cover;
}
#page_header_bread > span .container_div:hover > .text {
  opacity: 100%;
}
#page_header_bread > span .container_div > .text {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  opacity: 0%;
  align-self: center;
  justify-self: center;
  color: #FBF5F3;
  font-size: 2em;
}

@media only screen and (min-width: 800px) {
  #page_header {
    width: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
    background-color: #000022;
  }
  #page_header > div {
    width: 100%;
    display: grid;
    place-items: center;
    align-content: center;
    grid-template-columns: 40vw 80vw;
    min-height: 100px;
  }
  #page_header > div > a > .logo {
    width: 40px;
    margin-right: 50px;
    align-self: center;
    padding: 10px;
    background-color: #FBF5F3;
    border-radius: 50%;
  }
  #page_header > div > label > .menu {
    width: 40px;
    margin-left: 50px;
    align-self: center;
  }
  #page_header > div > #mobile_menu {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    display: grid;
    place-items: center;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    width: 100%;
    height: 100%;
    background-color: #000022;
    visibility: hidden;
    transition: all ease-in-out 0.33s;
    transform: scale(0);
  }
  #page_header > div > #mobile_menu > a {
    text-align: center;
    display: grid;
    align-self: center;
    background-color: #FBF5F3;
    padding: 25px;
    color: #E28413;
  }
  #page_header > div > #mobile_menu > #menu_header {
    display: grid;
    place-items: center;
    width: 100%;
    grid-auto-flow: column;
    height: 100%;
  }
  #page_header > div > #mobile_menu > #menu_header > a > .logo {
    width: 40px;
    margin-right: 50px;
    align-self: center;
    padding: 10px;
    background-color: #FBF5F3;
    border-radius: 50%;
  }
  #page_header > div > #menu_open:checked ~ #mobile_menu {
    visibility: visible;
    transform: scale(1);
    z-index: 10;
  }
  #page_header > div .hoverable {
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 0px black);
  }
  #page_header > div .hoverable:hover {
    cursor: pointer;
    filter: drop-shadow(3px 3px 6px gray);
  }
  .menu_radio_button {
    display: none;
  }
  #page_header_bread {
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
  }
  #page_header_bread > span .container_div {
    width: 100%;
    height: 500px;
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 1200px) {
  #page_header {
    width: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1150px, 1fr));
    background-color: #000022;
  }
  #page_header > div {
    width: 100%;
    display: grid;
    place-items: center;
    align-content: center;
    grid-template-columns: 40vw 80vw;
    min-height: 100px;
  }
  #page_header > div > a > .logo {
    width: 40px;
    margin-right: 50px;
    align-self: center;
    padding: 10px;
    background-color: #FBF5F3;
    border-radius: 50%;
  }
  #page_header > div > label > .menu {
    width: 40px;
    margin-left: 50px;
    align-self: center;
  }
  #page_header > div > #mobile_menu {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    display: grid;
    place-items: center;
    grid-template-rows: 20vh;
    width: 100%;
    height: 100%;
    background-color: #000022;
    visibility: hidden;
    transition: all ease-in-out 0.33s;
    transform: scale(0);
  }
  #page_header > div > #mobile_menu > a {
    text-align: center;
    display: grid;
    align-self: center;
    border-radius: 50px;
    background-color: #FBF5F3;
    padding: 25px;
    color: #E28413;
  }
  #page_header > div > #mobile_menu > #menu_header {
    display: grid;
    place-items: center;
    width: 100%;
    grid-auto-flow: column;
    height: 100%;
  }
  #page_header > div > #mobile_menu > #menu_header > a > .logo {
    width: 40px;
    margin-right: 50px;
    align-self: center;
    padding: 10px;
    background-color: #FBF5F3;
    border-radius: 50%;
  }
  #page_header > div > #menu_open:checked ~ #mobile_menu {
    visibility: visible;
    transform: scale(1);
    z-index: 10;
  }
  #page_header > div .hoverable {
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 0px black);
  }
  #page_header > div .hoverable:hover {
    cursor: pointer;
    filter: drop-shadow(3px 3px 6px gray);
  }
  .menu_radio_button {
    display: none;
  }
  #page_header_bread {
    margin-bottom: 30px;
    width: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1150px, 1fr));
  }
  #page_header_bread > span .container_div {
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  #page_header_bread > span .container_div > .text {
    font-size: 3em;
  }
}
#footer {
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}
#footer > article {
  place-items: center;
  width: 100%;
  display: grid;
}
#footer > article > span {
  min-height: 40vh;
  width: 80%;
  grid-template-columns: 2fr 1fr;
  display: grid;
}
#footer > article > span > div {
  border-radius: 25px;
  width: 90%;
  background-color: #FBF5F3;
  display: grid;
}
#footer > article > span > div > p,
#footer > article > span > div h4,
#footer > article > span > div a {
  color: #000022;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#footer > article > span > nav {
  width: 100%;
  background-color: #FBF5F3;
  border-radius: 25px;
  display: grid;
}
#footer > article > span > nav > p,
#footer > article > span > nav h4,
#footer > article > span > nav a {
  color: #000022;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#footer > article > span > nav .text {
  color: #000022;
}
#footer > article > span > nav .insta {
  padding: 10px;
  background-color: #000022;
  border-radius: 45%;
  width: 20px;
}

@media only screen and (min-width: 700px) {
  #footer > article {
    width: 90%;
  }
  #footer > article > span {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }
  #footer > article > span > div {
    width: 90%;
  }
  #footer > article > span > div > p,
  #footer > article > span > div h4,
  #footer > article > span > div a {
    justify-self: center;
    align-self: center;
  }
  #footer > article > span > nav > p,
  #footer > article > span > nav h4,
  #footer > article > span > nav a {
    justify-self: center;
    align-self: center;
  }
}
@media only screen and (min-width: 1080px) {
  #footer {
    background-color: #FBF5F3;
    margin: 0;
  }
  #footer > article > span > div {
    align-content: center;
    justify-content: start;
    grid-template-rows: 75px 75px 75px 75px 75px;
  }
  #footer > article > span > nav {
    align-content: center;
    justify-content: end;
    grid-template-rows: 75px 75px 75px 75px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #000022;
}

#page_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}
#page_main > #hero_section {
  display: grid;
  place-items: center;
  width: 100%;
}
#page_main > #hero_section > #contact_div {
  display: grid;
  place-items: center;
}
#page_main > #hero_section > #contact_div > h1 {
  text-align: center;
  align-self: center;
  justify-self: center;
  font-size: 2.5em;
  color: #FBF5F3;
}
#page_main > #hero_section > .images_article {
  width: 100%;
  margin-top: 25px;
  place-items: center;
  display: grid;
  align-content: center;
}
#page_main > #hero_section > .images_article > span {
  place-items: center;
  grid-template-rows: 375px 120px 120px;
  border-radius: 25px;
  margin-bottom: 50px;
  align-content: center;
  display: grid;
  place-items: center;
  align-items: center;
}
#page_main > #hero_section > .images_article > span > .image1 {
  border-radius: 50%;
  width: 275px;
  height: 275px;
  padding: 25px;
  background-color: #FBF5F3;
}
#page_main > #hero_section > .images_article > span > .image2 {
  padding: 25px;
  background-color: #FBF5F3;
  border-radius: 50%;
  width: 225px;
  height: 225px;
  transform: translateY(-80px) translateX(0px);
}
#page_main > #hero_section > .images_article > span > .image3 {
  background-color: #FBF5F3;
  padding: 25px;
  transform: translateY(-30px) translateX(-30px);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
#page_main > #hero_section #map_article {
  margin-bottom: 25px;
  display: grid;
  margin-top: 25px;
}
#page_main > #hero_section #map_article > #map {
  border-radius: 35px;
  display: grid;
  align-content: center;
  background-color: #FBF5F3;
  height: 250px;
}
#page_main > #hero_section #map_article > #map > .window {
  border-radius: 10px;
  height: 95%;
  width: 75%;
  justify-self: center;
  align-self: center;
}
#page_main > #hero_section > .contact_article {
  display: grid;
  place-items: center;
  width: 100%;
  grid-template-rows: 1fr 1fr;
}
#page_main > #hero_section > .contact_article > span {
  border-radius: 25px;
  align-content: center;
  height: 80px;
  margin-bottom: 20px;
  place-items: center;
  display: grid;
  width: 80%;
  background-color: #FBF5F3;
  grid-template-rows: 25px 25px;
}
#page_main > #hero_section > .contact_article > span > p {
  align-content: center;
  text-align: center;
  color: #000022;
}
#page_main > #hero_section > #submit {
  width: 90%;
  display: grid;
  place-items: center;
  align-items: center;
}
#page_main > #hero_section > #submit:hover > span {
  background-color: #E28413;
}
#page_main > #hero_section > #submit:hover > span > a {
  color: #FBF5F3;
}
#page_main > #hero_section > #submit > span {
  margin-bottom: 20px;
  display: grid;
  background-color: #FBF5F3;
  width: 80%;
  border-radius: 25px;
  text-align: center;
  align-content: center;
  height: 50px;
}
#page_main > #hero_section > #submit > span > a {
  color: #000022;
}
#page_main > #hero_section > .contact_article_locations {
  width: 100%;
  display: grid;
  place-items: center;
}
#page_main > #hero_section > .contact_article_locations > span {
  text-align: center;
  margin-bottom: 20px;
  border-radius: 25px;
  align-content: center;
  height: 100px;
  grid-template-rows: 50px 50px;
  place-items: center;
  display: grid;
  width: 80%;
  background-color: #FBF5F3;
  color: #000022;
}
#page_main > #hero_section > .contact_article_locations > span > p {
  width: 80%;
}

@media only screen and (min-width: 800px) {
  #page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
    place-items: center;
  }
  #page_main > #hero_section {
    width: 90%;
    place-items: center;
  }
  #page_main > #hero_section > #contact_div {
    height: 200px;
  }
  #page_main > #hero_section > #contact_div > h1 {
    font-size: 4em;
  }
  #page_main > #hero_section > .images_article > span {
    width: 90%;
    grid-template-rows: 550px 100px 100px;
  }
  #page_main > #hero_section > .images_article > span > .image1 {
    width: 425px;
    height: 425px;
    justify-self: center;
  }
  #page_main > #hero_section > .images_article > span > .image2 {
    height: 300px;
    width: 300px;
    transform: translateX(-130px) translateY(-90px);
  }
  #page_main > #hero_section > .images_article > span > .image3 {
    width: 225px;
    height: 225px;
    transform: translateX(80px) translateY(-120px);
  }
  #page_main > #hero_section #map_article {
    margin-bottom: 25px;
    display: grid;
    width: 90%;
    height: 500px;
    margin-top: 25px;
  }
  #page_main > #hero_section #map_article > #map {
    height: 425px;
    border-radius: 35px;
    display: grid;
    align-content: center;
    background-color: #FBF5F3;
  }
  #page_main > #hero_section #map_article > #map > .window {
    border-radius: 10px;
    height: 350px;
    width: 85%;
    justify-self: center;
    align-self: center;
  }
  #page_main > #hero_section > .contact_article_locations {
    width: 90%;
    align-content: center;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #page_main > #hero_section > .contact_article_locations > span {
    border-radius: 25px;
    align-content: center;
    height: 125px;
    grid-template-rows: 50px 50px;
    place-items: center;
    display: grid;
    width: 95%;
  }
  #page_main > #hero_section > #submit {
    width: 90%;
    display: grid;
    place-items: center;
  }
  #page_main > #hero_section > #submit > span {
    display: grid;
    width: 95%;
    border-radius: 25px;
    text-align: center;
    align-content: center;
    height: 50px;
  }
  #page_main > #hero_section > .contact_article {
    width: 90%;
    display: grid;
    place-items: center;
    height: 100px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  #page_main > #hero_section > .contact_article > span {
    place-items: center;
    width: 95%;
  }
  #page_main > #hero_section > .contact_article > span > p {
    align-self: center;
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  #page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1150px, 1fr));
    place-items: center;
  }
  #page_main > #hero_section {
    width: 75%;
    place-items: center;
  }
  #page_main > #hero_section > #contact_div > h1 {
    font-size: 5em;
  }
  #page_main > #hero_section > .images_article {
    margin-bottom: 100px;
  }
  #page_main > #hero_section > .images_article > span {
    grid-template-rows: 600px 120px 120px;
  }
  #page_main > #hero_section > .images_article > span > h1 {
    font-size: 3em;
  }
  #page_main > #hero_section > .images_article > span > .image1 {
    height: 550px;
    width: 525px;
  }
  #page_main > #hero_section > .images_article > span > .image2 {
    transform: translateY(-120px) translateX(-180px);
    height: 325px;
    width: 325px;
  }
  #page_main > #hero_section > .images_article > span > .image3 {
    transform: translateY(-130px) translateX(80px);
    height: 225px;
    width: 225px;
  }
  #page_main > #hero_section #map_article {
    margin-bottom: 25px;
    display: grid;
    width: 60%;
    height: 650px;
    margin-top: 25px;
  }
  #page_main > #hero_section #map_article > #map {
    height: 525px;
    border-radius: 35px;
    display: grid;
    align-content: center;
    background-color: #FBF5F3;
  }
  #page_main > #hero_section #map_article > #map > .window {
    border-radius: 10px;
    height: 450px;
    width: 85%;
    justify-self: center;
    align-self: center;
  }
  #page_main > #hero_section > .contact_article {
    width: 60%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 25px;
    align-items: center;
    height: 75px;
  }
  #page_main > #hero_section > .contact_article > span {
    height: 90px;
    place-items: center;
    width: 85%;
  }
  #page_main > #hero_section > .contact_article > span > p {
    align-self: center;
    text-align: center;
  }
  #page_main > #hero_section > .contact_article_locations {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    align-items: center;
    place-items: center;
    margin-bottom: 50px;
    width: 60%;
    height: 250px;
  }
  #page_main > #hero_section > .contact_article_locations > span {
    border-radius: 25px;
    height: 225px;
    grid-template-rows: 50px 50px;
    place-items: center;
    display: grid;
    width: 85%;
  }
  #page_main > #hero_section > #submit {
    width: 60%;
    height: 150px;
    display: grid;
    place-items: center;
  }
  #page_main > #hero_section > #submit > span {
    display: grid;
    width: 90%;
    border-radius: 25px;
    text-align: center;
    align-self: center;
    height: 50px;
  }
}

/*# sourceMappingURL=contact.css.map */
