#footer {
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}
#footer > article {
  place-items: center;
  width: 100%;
  display: grid;
}
#footer > article > span {
  min-height: 40vh;
  width: 80%;
  grid-template-columns: 2fr 1fr;
  display: grid;
}
#footer > article > span > div {
  border-radius: 25px;
  width: 90%;
  background-color: #FBF5F3;
  display: grid;
}
#footer > article > span > div > p,
#footer > article > span > div h4,
#footer > article > span > div a {
  color: #000022;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#footer > article > span > nav {
  width: 100%;
  background-color: #FBF5F3;
  border-radius: 25px;
  display: grid;
}
#footer > article > span > nav > p,
#footer > article > span > nav h4,
#footer > article > span > nav a {
  color: #000022;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#footer > article > span > nav .text {
  color: #000022;
}
#footer > article > span > nav .insta {
  padding: 10px;
  background-color: #000022;
  border-radius: 45%;
  width: 20px;
}

@media only screen and (min-width: 700px) {
  #footer > article {
    width: 90%;
  }
  #footer > article > span {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }
  #footer > article > span > div {
    width: 90%;
  }
  #footer > article > span > div > p,
  #footer > article > span > div h4,
  #footer > article > span > div a {
    justify-self: center;
    align-self: center;
  }
  #footer > article > span > nav > p,
  #footer > article > span > nav h4,
  #footer > article > span > nav a {
    justify-self: center;
    align-self: center;
  }
}
@media only screen and (min-width: 1080px) {
  #footer {
    background-color: #FBF5F3;
    margin: 0;
  }
  #footer > article > span > div {
    align-content: center;
    justify-content: start;
    grid-template-rows: 75px 75px 75px 75px 75px;
  }
  #footer > article > span > nav {
    align-content: center;
    justify-content: end;
    grid-template-rows: 75px 75px 75px 75px;
  }
}
svg {
  color: #000022;
}

body {
  font-family: sans-serif;
  background-color: #000022;
}

* {
  margin: 0;
  padding: 0;
}

#page_header {
  width: 100%;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #000022;
}
#page_header > div {
  width: 100%;
  display: grid;
  place-items: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  height: 100px;
}
#page_header > div > a:hover > .logo {
  background-color: #E28413;
  color: #FBF5F3;
}
#page_header > div > a > .logo {
  width: 40px;
  margin-right: 50px;
  align-self: center;
  padding: 10px;
  background-color: #FBF5F3;
  border-radius: 50%;
}
#page_header > div > label:hover > .menu {
  color: #E28413;
}
#page_header > div > label > .menu {
  color: #FBF5F3;
  width: 40px;
  margin-left: 50px;
  align-self: center;
}
#page_header > div > #mobile_menu {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  display: grid;
  place-items: center;
  grid-template-rows: 20vh 20vh 20vh 20vh;
  width: 100%;
  height: 100%;
  background-color: #000022;
  visibility: hidden;
  transition: all ease-in-out 0.33s;
  transform: scale(0);
}
#page_header > div > #mobile_menu > a {
  text-align: center;
  display: grid;
  align-self: center;
  width: 100%;
  background-color: #FBF5F3;
  padding: 25px;
  color: #E28413;
}
#page_header > div > #mobile_menu > #menu_header {
  display: grid;
  place-items: center;
  width: 100%;
  grid-auto-flow: column;
  height: 100%;
}
#page_header > div > #mobile_menu > #menu_header > label:hover > .hoverable {
  color: #E28413;
}
#page_header > div > #mobile_menu > #menu_header > label > .hoverable {
  color: white;
}
#page_header > div > #mobile_menu > #menu_header > a:hover > .logo {
  background-color: #E28413;
  color: #FBF5F3;
}
#page_header > div > #mobile_menu > #menu_header > a > .logo {
  width: 40px;
  margin-right: 50px;
  align-self: center;
  padding: 10px;
  background-color: #FBF5F3;
  border-radius: 50%;
}
#page_header > div > #menu_open:checked ~ #mobile_menu {
  visibility: visible;
  transform: scale(1);
  z-index: 10;
}
#page_header > div .hoverable {
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0px 0px 0px black);
}
#page_header > div .hoverable:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 6px gray);
}

.menu_radio_button {
  display: none;
}

#page_header_bread {
  margin-bottom: 30px;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#page_header_bread > span {
  width: 100%;
  background-color: #E28413;
  padding-top: 25px;
  padding-bottom: 25px;
}
#page_header_bread > span .container_div {
  width: 100%;
  height: 400px;
  display: grid;
  position: relative;
  background-image: url(/images/1\ \(25\).avif);
  background-position: 50% 50%;
  object-fit: cover;
}
#page_header_bread > span .container_div > .text {
  align-self: center;
  justify-self: center;
  color: #FBF5F3;
  font-size: 2em;
}

@media only screen and (min-width: 800px) {
  #page_header {
    width: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
    background-color: #000022;
  }
  #page_header > div {
    width: 100%;
    display: grid;
    place-items: center;
    align-content: center;
    grid-template-columns: 40vw 80vw;
    min-height: 100px;
  }
  #page_header > div > a > .logo {
    width: 40px;
    margin-right: 50px;
    align-self: center;
    padding: 10px;
    background-color: #FBF5F3;
    border-radius: 50%;
  }
  #page_header > div > label > .menu {
    width: 40px;
    margin-left: 50px;
    align-self: center;
  }
  #page_header > div > #mobile_menu {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    display: grid;
    place-items: center;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    width: 100%;
    height: 100%;
    background-color: #000022;
    visibility: hidden;
    transition: all ease-in-out 0.33s;
    transform: scale(0);
  }
  #page_header > div > #mobile_menu > a {
    text-align: center;
    display: grid;
    align-self: center;
    background-color: #FBF5F3;
    padding: 25px;
    color: #E28413;
  }
  #page_header > div > #mobile_menu > #menu_header {
    display: grid;
    place-items: center;
    width: 100%;
    grid-auto-flow: column;
    height: 100%;
  }
  #page_header > div > #mobile_menu > #menu_header > a > .logo {
    width: 40px;
    margin-right: 50px;
    align-self: center;
    padding: 10px;
    background-color: #FBF5F3;
    border-radius: 50%;
  }
  #page_header > div > #menu_open:checked ~ #mobile_menu {
    visibility: visible;
    transform: scale(1);
    z-index: 10;
  }
  #page_header > div .hoverable {
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 0px black);
  }
  #page_header > div .hoverable:hover {
    cursor: pointer;
    filter: drop-shadow(3px 3px 6px gray);
  }
  .menu_radio_button {
    display: none;
  }
  #page_header_bread {
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
  }
  #page_header_bread > span .container_div {
    width: 100%;
    height: 500px;
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 1200px) {
  #page_header {
    width: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1150px, 1fr));
    background-color: #000022;
  }
  #page_header > div {
    width: 100%;
    display: grid;
    place-items: center;
    align-content: center;
    grid-template-columns: 40vw 80vw;
    min-height: 100px;
  }
  #page_header > div > a > .logo {
    width: 40px;
    margin-right: 50px;
    align-self: center;
    padding: 10px;
    background-color: #FBF5F3;
    border-radius: 50%;
  }
  #page_header > div > label > .menu {
    width: 40px;
    margin-left: 50px;
    align-self: center;
  }
  #page_header > div > #mobile_menu {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    display: grid;
    place-items: center;
    grid-template-rows: 20vh;
    width: 100%;
    height: 100%;
    background-color: #000022;
    visibility: hidden;
    transition: all ease-in-out 0.33s;
    transform: scale(0);
  }
  #page_header > div > #mobile_menu > a {
    text-align: center;
    display: grid;
    align-self: center;
    border-radius: 50px;
    background-color: #FBF5F3;
    padding: 25px;
    color: #E28413;
  }
  #page_header > div > #mobile_menu > #menu_header {
    display: grid;
    place-items: center;
    width: 100%;
    grid-auto-flow: column;
    height: 100%;
  }
  #page_header > div > #mobile_menu > #menu_header > a > .logo {
    width: 40px;
    margin-right: 50px;
    align-self: center;
    padding: 10px;
    background-color: #FBF5F3;
    border-radius: 50%;
  }
  #page_header > div > #menu_open:checked ~ #mobile_menu {
    visibility: visible;
    transform: scale(1);
    z-index: 10;
  }
  #page_header > div .hoverable {
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 0px black);
  }
  #page_header > div .hoverable:hover {
    cursor: pointer;
    filter: drop-shadow(3px 3px 6px gray);
  }
  .menu_radio_button {
    display: none;
  }
  #page_header_bread {
    margin-bottom: 30px;
    width: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1150px, 1fr));
  }
  #page_header_bread > span .container_div {
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  #page_header_bread > span .container_div > .text {
    font-size: 3em;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #000022;
}

#page_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
}
#page_main > #hero_section {
  display: grid;
}
#page_main > #hero_section > .sweets_article {
  margin-bottom: 25px;
  background-image: url(/images/1\ \(31\).avif);
  background-position: 50% 50%;
  object-fit: cover;
  height: 950px;
  display: grid;
  place-items: center;
}
#page_main > #hero_section > .sweets_article > #span_1 {
  grid-template-rows: 45px 25px 25px 25px 25px 25px;
  border-radius: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 80%;
  display: grid;
  background-color: #FBF5F3;
  color: #000022;
}
#page_main > #hero_section > .sweets_article > #span_1 > h1 {
  color: #E28413;
  margin-left: 25px;
  align-self: center;
  justify-self: start;
}
#page_main > #hero_section > .sweets_article > #span_1 > p {
  color: #000022;
  margin-left: 25px;
  text-align: start;
  justify-self: start;
}
#page_main > #hero_section > .sweets_article > #span_2 {
  grid-template-rows: 45px 25px 25px 25px;
  border-radius: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 80%;
  display: grid;
  background-color: #FBF5F3;
  color: #000022;
}
#page_main > #hero_section > .sweets_article > #span_2 > h1 {
  color: #E28413;
  margin-left: 25px;
  align-self: center;
  justify-self: start;
}
#page_main > #hero_section > .sweets_article > #span_2 > p {
  color: #000022;
  margin-left: 25px;
  text-align: start;
  justify-self: start;
}
#page_main > #hero_section > .sweets_article > #span_3 {
  grid-template-rows: 45px 25px 25px 25px 25px 25px;
  border-radius: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 80%;
  display: grid;
  background-color: #FBF5F3;
  color: #000022;
}
#page_main > #hero_section > .sweets_article > #span_3 > h1 {
  color: #E28413;
  margin-left: 25px;
  align-self: center;
  justify-self: start;
}
#page_main > #hero_section > .sweets_article > #span_3 > p {
  color: #000022;
  margin-left: 25px;
  text-align: start;
  justify-self: start;
}
#page_main > #hero_section > #div {
  margin-top: 25px;
  margin-bottom: 25px;
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 80%;
  color: #E28413;
}
#page_main > #hero_section > .breads_article {
  display: grid;
  margin-bottom: 25px;
  place-items: center;
  grid-template-rows: 1fr 1fr;
}
#page_main > #hero_section > .breads_article > .span_bread1 {
  color: #FBF5F3;
  border-radius: 25px;
  text-align: center;
  display: grid;
  background-color: #FBF5F3;
  width: 80%;
  place-items: center;
  margin-top: 25px;
  height: 350px;
}
#page_main > #hero_section > .breads_article > .span_bread1 > div {
  align-content: center;
  height: 90%;
  width: 90%;
  border-radius: 30px;
  display: grid;
  background-color: #000022;
  grid-template-rows: 45px 35px 35px;
}
#page_main > #hero_section > .breads_article > .span_bread1 > div > h3 {
  color: #E28413;
  align-self: center;
}
#page_main > #hero_section > .breads_article > .span_bread1 > div > p {
  align-self: center;
}
#page_main > #hero_section > .breads_article > .span_bread1 > img {
  background-color: #000022;
  padding: 15px;
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
#page_main > #hero_section > .breads_article > .span_bread2 {
  color: #FBF5F3;
  border-radius: 25px;
  text-align: center;
  display: grid;
  background-color: #FBF5F3;
  width: 80%;
  place-items: center;
  margin-top: 25px;
  height: 350px;
}
#page_main > #hero_section > .breads_article > .span_bread2 > div {
  align-content: center;
  height: 90%;
  width: 90%;
  border-radius: 30px;
  display: grid;
  background-color: #000022;
  grid-template-rows: 45px 35px 35px;
}
#page_main > #hero_section > .breads_article > .span_bread2 > div > h3 {
  color: #E28413;
  align-self: center;
}
#page_main > #hero_section > .breads_article > .span_bread2 > div > p {
  align-self: center;
}
#page_main > #hero_section > .breads_article > .span_bread2 > img {
  background-color: #000022;
  padding: 15px;
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
#page_main > #hero_section > .custom_orders {
  display: grid;
  place-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url(/images/1\ \(19\).avif);
  background-position: 50% 50%;
  height: 600px;
}
#page_main > #hero_section > .custom_orders > span {
  border-radius: 25px;
  padding: 25px;
  background-color: #FBF5F3;
  display: grid;
  grid-template-rows: 75px 125px 75px;
  width: 60%;
}
#page_main > #hero_section > .custom_orders > span > p {
  color: #000022;
}
#page_main > #hero_section > .custom_orders > span > h1 {
  color: #E28413;
}
#page_main > #hero_section > .custom_orders > span > a {
  align-self: flex-start;
  justify-self: start;
  border-radius: 45px;
  padding: 15px;
  background-color: #000022;
  color: #E28413;
}

@media only screen and (min-width: 800px) {
  #page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
    place-items: center;
  }
  #page_main > #hero_section {
    display: grid;
    place-items: center;
    align-content: center;
    width: 90%;
  }
  #page_main > #hero_section > .sweets_article {
    border-style: solid;
    border-width: 20px;
    color: #FBF5F3;
    margin-top: 50px;
    border-radius: 25px;
    grid-template-columns: 1fr 1fr;
    height: 550px;
    width: 90%;
  }
  #page_main > #hero_section > .sweets_article > #span_1 {
    justify-self: center;
    align-content: center;
    height: 175px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    display: grid;
  }
  #page_main > #hero_section > .sweets_article > #span_2 {
    grid-template-rows: 45px 42px 42px 42px;
    align-content: center;
    height: 175px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    display: grid;
  }
  #page_main > #hero_section > .sweets_article > #span_3 {
    align-content: center;
    height: 175px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    display: grid;
  }
  #page_main > #hero_section > #div {
    margin-top: 25px;
    margin-bottom: 25px;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 80%;
    font-size: 2em;
  }
  #page_main > #hero_section > .breads_article {
    display: grid;
    height: 1000px;
    width: 90%;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
  #page_main > #hero_section > .breads_article > .span_bread1 {
    display: grid;
    height: 450px;
    width: 90%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #page_main > #hero_section > .breads_article > .span_bread1 > div {
    display: grid;
    grid-template-rows: 50px 50px 60px;
  }
  #page_main > #hero_section > .breads_article > .span_bread1 > img {
    object-fit: cover;
    border-radius: 50%;
    width: 175px;
    height: 175px;
  }
  #page_main > #hero_section > .breads_article > .span_bread1 > h3 {
    justify-self: start;
    align-self: center;
    margin-left: 25px;
  }
  #page_main > #hero_section > .breads_article > .span_bread1 > p {
    align-self: center;
    text-align: start;
    margin-left: 20px;
    width: 80%;
  }
  #page_main > #hero_section > .breads_article > .span_bread2 {
    height: 450px;
    width: 90%;
    display: grid;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  #page_main > #hero_section > .breads_article > .span_bread2 > div {
    display: grid;
    grid-template-rows: 50px 50px 60px;
  }
  #page_main > #hero_section > .breads_article > .span_bread2 > img {
    object-fit: cover;
    border-radius: 50%;
    width: 175px;
    height: 175px;
  }
  #page_main > #hero_section > .breads_article > .span_bread2 > h3 {
    justify-self: start;
    align-self: center;
    margin-left: 25px;
  }
  #page_main > #hero_section > .breads_article > .span_bread2 > p {
    align-self: center;
    text-align: start;
    margin-left: 20px;
    width: 80%;
  }
  #page_main > #hero_section > .custom_orders {
    border-style: solid;
    border-width: 20px;
    color: #FBF5F3;
    border-radius: 25px;
    align-content: center;
    display: grid;
    place-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url(/images/1\ \(19\).avif);
    background-position: 50% 50%;
    height: 600px;
    width: 90%;
  }
  #page_main > #hero_section > .custom_orders > span {
    align-content: center;
    display: grid;
    grid-template-rows: 115px 225px 115px;
    width: 60%;
  }
  #page_main > #hero_section > .custom_orders > span > p {
    font-size: 1.5em;
  }
  #page_main > #hero_section > .custom_orders > span > h1 {
    font-size: 2em;
  }
  #page_main > #hero_section > .custom_orders > span > a {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1200px) {
  #page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1150px, 1fr));
    place-items: center;
  }
  #page_main > #hero_section {
    display: grid;
    place-items: center;
    width: 75%;
  }
  #page_main > #hero_section > .sweets_article {
    color: #FBF5F3;
    border-style: solid;
    border-radius: 50px;
    border-width: 25px;
    width: 80%;
    margin-top: 50px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #page_main > #hero_section > .sweets_article > #span_1 {
    width: 75%;
    display: grid;
  }
  #page_main > #hero_section > .sweets_article > #span_2 {
    width: 75%;
    display: grid;
  }
  #page_main > #hero_section > .sweets_article > #span_3 {
    width: 75%;
    display: grid;
  }
  #page_main > #hero_section > .breads_article {
    height: 850px;
    width: 95%;
    grid-template-rows: 400px 400px;
  }
  #page_main > #hero_section > .breads_article > .span_bread1 {
    height: 350px;
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr;
  }
  #page_main > #hero_section > .breads_article > .span_bread1 > div {
    display: grid;
    grid-template-rows: 75px 75px 75px;
  }
  #page_main > #hero_section > .breads_article > .span_bread1 > div > p {
    align-self: center;
    justify-self: center;
  }
  #page_main > #hero_section > .breads_article > .span_bread1 > div > h3 {
    align-self: center;
    justify-self: center;
  }
  #page_main > #hero_section > .breads_article > .span_bread2 {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr;
    height: 350px;
    text-align: center;
    justify-items: center;
  }
  #page_main > #hero_section > .breads_article > .span_bread2 > div {
    display: grid;
    grid-template-rows: 75px 75px 75px;
  }
  #page_main > #hero_section > .breads_article > .span_bread2 > div > p {
    align-self: center;
    justify-self: center;
  }
  #page_main > #hero_section > .breads_article > .span_bread2 > div > h3 {
    align-self: center;
    justify-self: center;
  }
  #page_main > #hero_section > .custom_orders {
    color: #FBF5F3;
    border-style: solid;
    border-radius: 50px;
    border-width: 25px;
    width: 80%;
    margin-bottom: 150px;
  }
  #page_main > #hero_section > .custom_orders > span {
    margin-left: 100px;
    justify-self: start;
    width: 30%;
  }
  #page_main > #hero_section > .custom_orders > span > a {
    border-radius: 45px;
    align-self: center;
    justify-self: start;
    padding: 15px;
  }
}

/*# sourceMappingURL=products.css.map */
