#page_header {
  min-height: 14vh;
  background-color: #8661C1;
  width: 100%;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#page_header > .div_1 {
  grid-template-columns: 1fr 3fr;
  display: grid;
  width: 80%;
}
#page_header > .div_1 > .Logo {
  width: 40px;
  justify-self: start;
  align-self: center;
  padding: 10px;
  background-color: #2E294E;
  border-radius: 50%;
}
#page_header > .div_1 > .Menu {
  width: 40px;
  justify-self: end;
  align-self: center;
}

#page_header_bread {
  margin-bottom: 30px;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#page_header_bread .container_div {
  display: grid;
  position: relative;
}
#page_header_bread .container_div > img {
  background-color: #2E294E;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  justify-self: center;
}
#page_header_bread .container_div > .text {
  z-index: 100;
  position: absolute;
  color: #EFBCD5;
  font-size: 24px;
  font-weight: bold;
  left: 50px;
  bottom: 50px;
  text-align: start;
  justify-self: start;
}

#footer {
  margin-top: 25px;
  margin-bottom: 25px;
  min-height: 20vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#footer > span {
  grid-template-columns: 2fr 1fr;
  display: grid;
}
#footer > span > div {
  display: grid;
}
#footer > span > div > p,
#footer > span > div h4,
#footer > span > div a {
  color: #2E294E;
  justify-self: start;
  align-self: center;
  margin-left: 30px;
}
#footer > span > nav {
  display: grid;
}
#footer > span > nav > p,
#footer > span > nav h4,
#footer > span > nav a {
  color: #2E294E;
  justify-self: start;
  align-self: center;
}
#footer > span > nav .text {
  color: #EFBCD5;
}
#footer > span > nav .insta {
  padding: 10px;
  background-color: #7D80DA;
  border-radius: 45%;
  width: 20px;
}

* {
  margin: 0;
  padding: 0;
}

p,
h1,
h3,
h2,
h4 {
  color: #BE97C6;
}

body {
  font-family: sans-serif;
  background-color: #8661C1;
}

#page_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#page_main > .hero_section {
  display: grid;
}
#page_main > .hero_section > .article_1 {
  margin-top: 25px;
  margin-bottom: 25px;
  place-items: center;
  display: grid;
}
#page_main > .hero_section > .article_1 > span {
  padding-top: 25px;
  width: 90%;
  background-color: #2E294E;
  grid-template-rows: 250px 210px 65px 65px 125px;
  place-items: center;
  text-align: center;
  display: grid;
}
#page_main > .hero_section > .article_1 > span > h1 {
  justify-self: center;
  text-align: center;
  font-size: 3em;
  width: 70%;
  color: #BE97C6;
}
#page_main > .hero_section > .article_1 > span > a {
  width: 90%;
  color: #EFBCD5;
  font-size: 1.24em;
}
#page_main > .hero_section > .article_1 > span > p {
  font-size: 1.25em;
  width: 75%;
  text-align: center;
  justify-self: center;
}
#page_main > .hero_section > .article_1 > span > h4 {
  font-size: 1.25em;
}
#page_main > .hero_section > .article_1 > span > #atag {
  background-color: #8661C1;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  justify-self: center;
  align-self: center;
  color: #EFBCD5;
  font-size: 1.3em;
  width: 60%;
}
#page_main > .hero_section > .article_2 {
  margin-top: 25px;
  margin-bottom: 25px;
  place-items: center;
  display: grid;
}
#page_main > .hero_section > .article_2 > span {
  place-items: center;
  width: 90%;
  background-color: #2E294E;
  display: grid;
  grid-template-rows: 60px 40px 100px;
}
#page_main > .hero_section > .article_2 > span > p {
  color: #BE97C6;
  margin-left: 30px;
  justify-self: start;
  align-self: center;
  font-size: 1.3em;
  font-weight: 600;
}
#page_main > .hero_section > .article_2 > span > a {
  color: #EFBCD5;
  justify-self: start;
  align-self: center;
  background: #8661C1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
  font-weight: bold;
}
#page_main > .hero_section > .article_2 > span > h4 {
  color: #BE97C6;
  margin-left: 30px;
  justify-self: start;
  align-self: center;
}
#page_main > .hero_section > .article_3 {
  display: grid;
  place-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
#page_main > .hero_section > .article_3 > span {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 90%;
  background-color: #2E294E;
  grid-template-rows: 300px 85px 85px 300px 85px 55px;
  display: grid;
  place-items: center;
}
#page_main > .hero_section > .article_3 > span > img {
  border: solid 2px;
  color: #BE97C6;
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
#page_main > .hero_section > .article_3 > span > #red_text {
  font-weight: bold;
  color: #EFBCD5;
  font-size: 1.5em;
}
#page_main > .hero_section > .article_3 > span > p {
  font-size: 1.2em;
  font-weight: 800;
  color: #BE97C6;
  text-align: start;
  justify-self: start;
  margin-left: 25px;
}
#page_main > .hero_section > .article_4 {
  display: grid;
  place-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
#page_main > .hero_section > .article_4 > span {
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: #2E294E;
  width: 90%;
  grid-template-rows: 65px 45px 45px 45px 45px 45px;
  display: grid;
  place-items: center;
}
#page_main > .hero_section > .article_4 > span > p {
  color: #BE97C6;
}
#page_main > .hero_section > .article_4 > span > #weekends {
  font-size: 1.2em;
  font-weight: bold;
}
#page_main > .hero_section > .article_4 > span > #head {
  font-size: 2.3em;
}
#page_main > .hero_section > .article_5 {
  display: grid;
  margin-top: 25px;
  margin-bottom: 25px;
}
#page_main > .hero_section > .article_5 > span {
  grid-template-rows: 1fr 75px;
  display: grid;
}
#page_main > .hero_section > .article_5 > span > p {
  margin-left: 30px;
  width: 75%;
  text-align: start;
  color: #2E294E;
  font-size: 1.1em;
}
#page_main > .hero_section > .article_5 > span .insta {
  margin-top: 20px;
  margin-left: 50px;
  justify-self: start;
  align-self: center;
  width: 20px;
  padding: 10px;
  background-color: #2E294E;
  border-radius: 45%;
}
#page_main > .hero_section > .article_5 > span > img {
  background-color: #2E294E;
  padding-bottom: 25px;
  padding-top: 25px;
  align-self: center;
  justify-self: center;
  width: 100%;
}
#page_main > .hero_section_two {
  place-items: center;
  display: grid;
}
#page_main > .hero_section_two > .two_article_1 {
  display: grid;
}
#page_main > .hero_section_two > .two_article_1 > span {
  display: grid;
}
#page_main > .hero_section_two > .two_article_1 > span > img {
  background-color: #2E294E;
  padding-top: 25px;
  padding-bottom: 25px;
  object-fit: cover;
  justify-self: center;
  width: 100%;
  height: 400px;
}
#page_main > .hero_section_two > .two_article_1 > span h2 {
  color: #2E294E;
  margin-left: 30px;
  margin-top: 20px;
  align-self: flex-start;
  width: 76%;
  text-align: start;
  justify-self: start;
  margin-bottom: 20px;
  font-size: 2.5em;
}

/*# sourceMappingURL=style.css.map */
