#footer {
    margin-top: 25px;
    margin-bottom: 25px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
place-items: center;
    >span {
        border-radius: 25px;
        min-height: 40vh;
        width: 90%;
        grid-template-columns: 2fr 1fr;
        display: grid;
background-color:#2E294E ;

        >div {
           
        place-items: center;
            display: grid;
            >p,
            h4,
            a {
                color: #BE97C6;
                justify-self: start;
                align-self: center;
                margin-left: 30px;
    
            }

        }

        >nav {
           
            place-items: center;
            display: grid;


            >p,
            h4,
            a {
    color: #2E294E;
                justify-self: start;
                align-self: center;
               
    
            }

 
            .text {

                color: #EFBCD5;

            }

            .insta {
                padding: 10px;
                background-color: #7D80DA;
                border-radius: 45%;

                width: 20px;

            }
        }
    }

}