svg {

    color: #000022;



}


body {


    font-family: sans-serif;
    background-color: #000022;


}

* {
    margin: 0;
    padding: 0;

}

#page_header {

    width: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: #000022;

    >div {

        width: 100%;
        display: grid;
        place-items: center;
        align-content: center;
        grid-template-columns: 2fr 1fr;
        height: 100px;



        >a {
            display: grid;
            grid-template-columns: 70px 1fr;

            &:hover>.logo {

                background-color: #E28413;
                color: #FBF5F3;
            }



            &:hover>#logotext {


                background-color: #E28413;
                color: #FBF5F3;


            }

            >#logotext {
                font-weight: bold;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                align-self: center;
                justify-self: start;
                background-color: #FBF5F3;
                color: #000022;
                padding: 10px;
                border-radius: 25px;
                font-size: 1em;
            }



            >.logo {
                width: 40px;
                margin-right: 50px;
                align-self: center;
                padding: 10px;
                background-color: #FBF5F3;
                border-radius: 50%;
            }


        }


        >label {


            &:hover>.menu {


                color: #E28413;
            }

            >.menu {
                color: #FBF5F3;
                width: 40px;
                margin-left: 50px;
                align-self: center;

            }

        }

        >#mobile_menu {

            position: fixed;
            top: 0px;
            left: 0px;
            z-index: -1;
            display: grid;
            place-items: center;
            grid-template-rows: 20vh 20vh 20vh 20vh;
            width: 100%;
            height: 100%;
            background-color: #000022;
            visibility: hidden;
            transition: all ease-in-out 0.33s;
            transform: scale(0);





            >a {



                text-align: center;
                display: grid;
                align-self: center;

                width: 100%;

                background-color: #FBF5F3;
                padding: 25px;
                color: #E28413;

            }

            >#menu_header {
                display: grid;
                place-items: center;
                width: 100%;
                grid-auto-flow: column;
                height: 100%;


                >label {





                    &:hover>.hoverable {


                        color: #E28413;
                    }





                    >.hoverable {


                        color: white;


                    }


                }

                >a {


                    &:hover>.logo {

                        background-color: #E28413;
                        color: #FBF5F3;
                    }


                    >.logo {

                        width: 40px;
                        margin-right: 50px;
                        align-self: center;
                        padding: 10px;
                        background-color: #FBF5F3;
                        border-radius: 50%;

                    }

                }

            }

        }

        >#menu_open:checked~#mobile_menu {
            visibility: visible;
            transform: scale(1);
            z-index: 10;
        }

        .hoverable {
            transition: all 0.3s ease-in-out;
            filter: drop-shadow(0px 0px 0px black);
        }


        .hoverable:hover {
            cursor: pointer;
            filter: drop-shadow(3px 3px 6px gray);
        }



    }
}

.menu_radio_button {
    display: none;
}

#page_header_bread {

    margin-bottom: 30px;

    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    >span {
        width: 100%;
        background-color: #E28413;
        padding-top: 25px;
        padding-bottom: 25px;

        .container_div {



            width: 100%;
            height: 400px;
            display: grid;
            position: relative;
            background-image: url(/images/1\ \(25\).avif);
            background-position: 50% 50%;
            object-fit: cover;


            &:hover {

                >.text {

                    opacity: 100%;



                }
            }

            >.text {
                transition-property: all;
                transition-duration: 1s;
                transition-timing-function: ease-in-out;
                opacity: 0%;
                align-self: center;
                justify-self: center;
                color: #FBF5F3;
                font-size: 2em;
            }

        }


    }


}

@media only screen and (min-width: 800px) {




    #page_header {

        width: 100%;
        place-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
        background-color: #000022;

        >div {

            width: 100%;
            display: grid;
            place-items: center;
            align-content: center;
            grid-template-columns: 40vw 80vw;
            min-height: 100px;

            >a {

                >#logotext {
    
                    font-size: 1.2em;
                }

                >.logo {
                    width: 40px;
                    margin-right: 50px;
                    align-self: center;
                    padding: 10px;
                    background-color: #FBF5F3;
                    border-radius: 50%;
                }


            }


            >label {


                >.menu {

                    width: 40px;
                    margin-left: 50px;
                    align-self: center;

                }

            }

            >#mobile_menu {

                position: fixed;
                top: 0px;
                left: 0px;
                z-index: -1;
                display: grid;
                place-items: center;
                grid-template-rows: 20vh 20vh 20vh 20vh;
                width: 100%;
                height: 100%;
                background-color: #000022;

                visibility: hidden;
                transition: all ease-in-out 0.33s;
                transform: scale(0);


                >a {
                    text-align: center;
                    display: grid;
                    align-self: center;


                    background-color: #FBF5F3;
                    padding: 25px;
                    color: #E28413;

                }



                >#menu_header {
                    display: grid;
                    place-items: center;
                    width: 100%;
                    grid-auto-flow: column;
                    height: 100%;


                    >a {
                        >.logo {

                            width: 40px;
                            margin-right: 50px;
                            align-self: center;
                            padding: 10px;
                            background-color: #FBF5F3;
                            border-radius: 50%;

                        }

                    }

                }

            }

            >#menu_open:checked~#mobile_menu {
                visibility: visible;
                transform: scale(1);
                z-index: 10;
            }

            .hoverable {
                transition: all 0.3s ease-in-out;
                filter: drop-shadow(0px 0px 0px black);
            }


            .hoverable:hover {
                cursor: pointer;
                filter: drop-shadow(3px 3px 6px gray);
            }



        }
    }

    .menu_radio_button {
        display: none;
    }



    #page_header_bread {
        grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));

        >span {

            .container_div {

                width: 100%;
                height: 500px;


                >.text {}

                font-size: 2.5em;
            }

        }


    }

}

@media only screen and (min-width: 1200px) {




    #page_header {

        width: 100%;
        place-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1150px, 1fr));
        background-color: #000022;

        >div {

            width: 100%;
            display: grid;
            place-items: center;
            align-content: center;
            grid-template-columns: 40vw 80vw;
            min-height: 100px;

            >a {
                >#logotext {

                    font-size: 1.3em;
                }


                >.logo {
                    width: 40px;
                    margin-right: 50px;
                    align-self: center;
                    padding: 10px;
                    background-color: #FBF5F3;
                    border-radius: 50%;
                }


            }


            >label {


                >.menu {

                    width: 40px;
                    margin-left: 50px;
                    align-self: center;

                }

            }

            >#mobile_menu {

                position: fixed;
                top: 0px;
                left: 0px;
                z-index: -1;
                display: grid;
                place-items: center;
                grid-template-rows: 20vh;
                width: 100%;
                height: 100%;
                background-color: #000022;

                visibility: hidden;
                transition: all ease-in-out 0.33s;
                transform: scale(0);

                >a {
                    text-align: center;
                    display: grid;
                    align-self: center;

                    border-radius: 50px;
                    background-color: #FBF5F3;
                    padding: 25px;
                    color: #E28413;

                }

                >#menu_header {
                    display: grid;
                    place-items: center;
                    width: 100%;
                    grid-auto-flow: column;
                    height: 100%;


                    >a {
                        >.logo {

                            width: 40px;
                            margin-right: 50px;
                            align-self: center;
                            padding: 10px;
                            background-color: #FBF5F3;
                            border-radius: 50%;

                        }

                    }

                }

            }

            >#menu_open:checked~#mobile_menu {
                visibility: visible;
                transform: scale(1);
                z-index: 10;
            }

            .hoverable {
                transition: all 0.3s ease-in-out;
                filter: drop-shadow(0px 0px 0px black);
            }


            .hoverable:hover {
                cursor: pointer;
                filter: drop-shadow(3px 3px 6px gray);
            }



        }
    }

    .menu_radio_button {
        display: none;
    }

    #page_header_bread {
        margin-bottom: 30px;
        width: 100%;
        place-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1150px, 1fr));

        >span {
            .container_div {
                background-size: cover;

                width: 100%;
                height: 600px;


                >.text {

                    font-size: 3em;
                }

            }

        }

    }

}