#page_header {

    width: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
background-color:#000022;

    >.div_1 {
        grid-template-columns: 1fr 3fr;
        display: grid;
        width: 80%;
        align-items: center;
        min-height: 100px;


        >a {


            >.Logo {
                width: 40px;
                justify-self: start;
                align-self: center;
                padding: 10px;
            background-color: #E28413;
                border-radius: 50%;
            }

        }

        >.Menu {
            width: 40px;
            justify-self: end;
            align-self: center;

        }



    }
}

#page_header_bread {

    margin-bottom: 30px;

    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .container_div {
        width: 100%;
        height: 400px;
        display: grid;
        position: relative;
background-image: url(/images/1\ \(25\).avif);
background-position: 50% 50%;
object-fit: cover;
        >.text {
align-self: center;
justify-self: center;
color: #FBF5F3;
font-size: 2em;
        }

    }
}
@media only screen and (min-width: 700px){


    #page_header {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    >.div_1{
    
    >a{
    
    
    
        >.Logo{
    
    
    
        }
    }
    
    >.Menu{
    
        
    }
    }
    }
    #page_header_bread {


    
        .container_div {
  
            width: 100%;
        height: 500px;
     
    
            >.text {

            }
    
        }
    }
    
    }

    @media only screen and (min-width: 1080px){



        #page_header {
    
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(850px, 1fr));
            
            >.div_1{
            
            >a{
            
            
            
                >.Logo{
            
            
            
                }
            }
            
            >.Menu{
            
                
            }
            }
            }
            #page_header_bread {
                margin-bottom: 30px;
width: 100%;
                place-items: center;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            
            
                .container_div {
               background-size: cover;
                 
                    width: 100%;
        height: 600px;
           
            
                    >.text {
        
                    }
            
                }
            }
            
            }
        






    