@media only screen and (max-width: 320px){


    #page_header_bread{

        
        
        .container_div{
        
        
            >img{
                
            }
        
        
            
        
        
        
        
        >.text{
            z-index: 100;
            position: absolute;
            color: white;
            font-size: 24px;
            font-weight: bold;
            left: 50px;
            top: 190px;
            text-align: start;
            justify-self: start;
        }
        
        }
        }


}