@use "header_about";
@use "footer_about";



* {
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;
    background-color: #8661C1;

}

#page_main {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    >#hero_section {


        display: grid;

        >.about_article {
            place-items: center;
            display: grid;
align-items: center;
            >#span_image {
                grid-template-rows: 1fr;
                border-radius: 25px;
                height: 400px;
                margin-bottom: 25px;
                margin-top: 25px;
                display: grid;
                background-color: #2E294E;
                width: 80%;
                place-items: center;
align-items: center;
                >img {
                    border-radius: 10%;
                    width: 75%;
                    object-fit: cover;

                }
            }



            >span {
                border-radius: 25px;
                height: 500px;
                grid-template-rows: 50px 125px 225px;
                width: 80%;
                background-color: #2E294E;
                display: grid;
                justify-items: start;
                align-content: center;
                text-align: start;

                >h3 {
                    color: white;
                    margin-left: 25px;
                }

                >p {
                    width: 80%;
                    color: white;
                    margin-left: 25px;
                }

                >h2 {
                    color: white;
                    margin-left: 25px;
                }

                >a {
                    margin-left: 25px;
                    color: white;
                }



            }

        }



        


        >.hours_article {
            display: grid;
            place-items: center;

            >span {
                width: 65%;
                display: grid;
                place-items: center;
                text-align: center;
                background-color: #2E294E;
                border-radius: 25px;
                height: 275px;
                color: white;
            }
        }

    }



}

@media only screen and (min-width: 700px){


    #page_main {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
        >#hero_section {
    

            >.about_article {
 grid-template-columns: 1fr 1fr;
                >#span_image {
                    grid-template-rows: 1fr;
                    border-radius: 25px;
                    height: 600px;
                    margin-bottom: 25px;
                    margin-top: 25px;
                    display: grid;
                    background-color: #2E294E;
                    width: 80%;
                    place-items: center;
    align-items: center;
                    >img {
                        border-radius: 10%;
                       height: 500px;
                        object-fit: cover;
                    }
                }
    
    
    
                >span {
                    width: 80%;
    height: 600px;
                    >h3 {
   
                    }
    
                    >p {
                  
                    }
    
                    >h2 {
                   
                    }
    
                    >a {
                
                    }
    
    
    
                }
    
            }
    
    
    
            
    
    
            >.hours_article {

    
                >span {
width: 90%;
height: 475px;
font-size: 1.5em;

>h1{
    font-size: 1.75em;
}
                }
            }
    
        }
    
    
    
    }

    
}
@media only screen and (min-width: 1080px){
    #page_main {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
        >#hero_section {
    place-items: center;
width: 90%;
            >.about_article {
            width: 80%;
grid-template-columns: 3fr 3fr;
                >#span_image {
                    width: 90%;
                    >img {

                    }
                }
    
    
    
                >span {
width: 90%;
                    >h3 {
   
                    }
    
                    >p {
                  
                    }
    
                    >h2 {
                   
                    }
    
                    >a {
                
                    }
    
    
    
                }
    
            }
    
    
    
            
    
    
            >.hours_article {

    
width: 85%;

>h1{

}
                }
            }
    
        }
    
    
    
    }

