@use "header_about";
@use "footer_about";



* {
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;
    background-color: #8661C1;

}

#page_main {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    >#hero_section {


        display: grid;

        >.about_article {
            place-items: center;
            display: grid;

            >span {
                border-radius: 25px;
                height: 500px;
grid-template-rows: 50px 125px 225px;
                width: 80%;
                background-color: #2E294E;
                display: grid;
                justify-items: start;
                align-content: center;
                text-align: start;
>h3{
color: white;
margin-left: 25px;
}

>p{
    width: 80%;
    color: white;
    margin-left: 25px;
}

>h2{
    color: white;
    margin-left: 25px;
}
>a{
    margin-left: 25px;
    color: white;
}



            }

        }

        >.about_image {

            place-items: center;
            display: grid;


            >span {
                border-radius: 25px;
                height: 400px;
                margin-bottom: 25px;
                margin-top: 25px;
                display: grid;
                background-color: #2E294E;
                width: 80%;
                place-items: center;

                >img {
border-radius: 10%;
                    width: 75%;
                    object-fit: cover;

                }
            }

        }


        >.hours_article{
display: grid;
place-items: center;
>span{
    width: 65%;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #2E294E;
    border-radius: 25px;
    height: 275px;
    color: white;
}
        }

    }




}