@use "contactheader";
@use "contactfooter";


* {
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;
    background-color: #8661C1;

}



#page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


    >#hero_section {
        display: grid;
place-items: center;
width: 100%;

        >.images_article {
margin-top: 25px;
margin-bottom: 25px;
            place-items: center;
            display: grid;
align-content: center;
            >span {
                align-content: center;
                grid-template-rows: 275px 275px 175px;
                display: grid;
                place-items: center;
align-items: center;
                >.image1 {
border-radius: 50%;
                    width: 325px;
                    height: 300px;



                }

                >.image2 {
border-radius: 50%;
                    width: 200px;
                    height: 180px;




                }

                >.image3 {

                    border-radius: 50%;
                    width: 200px;
                    height: 180px;




                }
            }

        }


        

        >.contact_article {
            display: grid;
            place-items: center;
        
width: 95%;
            >span {
         border-radius: 25px;
                align-content: center;
                height: 80px;
                margin-top: 10px;
                margin-bottom: 10px;
                place-items: center;
                display: grid;
                width: 80%;
                background-color: #2E294E;
                grid-template-rows: 25px 25px;



                >p {
                    align-content: center;
                    text-align: center;
                    color: white;
                }



            }


        }
            >#submit{
                width: 80%;
    display: grid;
    place-items: center;
    >a{

        color: white;
        text-align: center;

    justify-self: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    background-color:#2E294E;
    border-radius: 20px;
    width: 90%;
    }
}






        >.contact_article_locations {


            display: grid;
            place-items: center;
width: 95%;
            >span {
                margin-top: 25px;
                border-radius: 25px;
                align-content: center;
                height: 325px;
                grid-template-rows: 50px 50px 50px 50px 50px 50px;
                place-items: center;
                display: grid;
                width: 80%;
                background-color: #2E294E;

            }
        }



    }

}

@media only screen and (min-width: 700px){

    #page_main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    
        >#hero_section {
place-items: center;
    
            >.images_article {

                >span {

                    >.image1 {

    
    
    
                    }
    
                    >.image2 {

    
    
    
    
                    }
    
                    >.image3 {
    
          
    
    
    
    
                    }
                }
    
            }
            >.contact_article_locations {


                display: grid;
                place-items: center;
    width: 95%;
                >span {
                    color: white;
                    margin-top: 25px;
                    border-radius: 25px;
                    align-content: center;
                    height: 325px;
                    grid-template-rows: 50px 50px 50px 50px 50px 50px;
                    place-items: center;
                    display: grid;
                    width: 80%;
                    background-color: #2E294E;
    
                }
            }
            >#submit{
                width: 80%;
    display: grid;
    >a{
        color: white;
        text-align: center;
    
    justify-self: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    background-color:#2E294E;
    border-radius: 20px;
    width: 90%;
    }
    
            }


            >.contact_article {
                display: grid;
                place-items: center;
       width: 80%;
    grid-template-columns: 1fr 1fr;




                >span {
                    align-content: center;
                   justify-items: start;
                    place-items: center;
                    width: 90%;
                    grid-template-columns: 1fr 2fr;
    
    >a{
        text-align: start;

    
                    >p {
                        color: white;
                    }
    
    
    
                }
  
                
                
                
                
                
                
                
                
                    }
            }
    
    
    
    
    
    
    
   


        }
        }
}


@media only screen and (min-width: 1080px){



}