@use "contactheader";
@use "contactfooter";


* {
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;
    background-color: #8661C1;

}



#page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


    >#hero_section {
        display: grid;
place-items: center;
width: 100%;

        >.images_article {
margin-top: 25px;
margin-bottom: 25px;
            place-items: center;
            display: grid;
align-content: center;
            >span {
                align-content: center;
                grid-template-rows: 275px 275px 175px;
                display: grid;
                place-items: center;
align-items: center;
                >.image1 {
border-radius: 50%;
                    width: 325px;
                    height: 300px;



                }

                >.image2 {
border-radius: 50%;
                    width: 200px;
                    height: 180px;




                }

                >.image3 {

                    border-radius: 50%;
                    width: 200px;
                    height: 180px;




                }
            }

        }


        

        >.contact_article {
            display: grid;
            place-items: center;
        
width: 90%;
            >span {
         border-radius: 25px;
                align-content: center;
                height: 80px;
                margin-top: 10px;
                margin-bottom: 10px;
                place-items: center;
                display: grid;
                width: 80%;
                background-color: #2E294E;
                grid-template-rows: 25px 25px;



                >p {
                    align-content: center;
                    text-align: center;
                    color: white;
                }



            }


        }
            >#submit{
                width: 90%;
    display: grid;
   place-items: center;


    >span{
        display: grid;
        background-color:#2E294E;
        width: 80%;
        border-radius: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
        align-content: center;
        height: 50px;

        >a{

            color: white;




        }

    }

}






        >.contact_article_locations {


            display: grid;
            place-items: center;
            width: 90%;
            >span {
                margin-top: 25px;
                border-radius: 25px;
                align-content: center;
                height: 100px;
                grid-template-rows: 50px 50px;
                place-items: center;
                display: grid;
                width: 80%;
                background-color: #2E294E;

            }
        }



    }

}

@media only screen and (min-width: 700px){

    #page_main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    
    
        >#hero_section {
            width: 100%;
place-items: center;
    
            >.images_article {

                >span {

                    >.image1 {

    
    
    
                    }
    
                    >.image2 {

    
    
    
    
                    }
    
                    >.image3 {
    
          
    
    
    
    
                    }
                }
    
            }
            >.contact_article_locations {
                width: 70%;
                align-content: center;
                display: grid;
                place-items: center;
                grid-template-columns: 1fr 1fr 1fr;

                >span {
                    color: white;
                    margin-top: 25px;
                    border-radius: 25px;
                    align-content: center;
                    height: 125px;
                    grid-template-rows: 50px 50px;
                    place-items: center;
                    display: grid;
                    width: 90%;
                    background-color: #2E294E;
    
                }
            }
            >#submit{
                width: 70%;
    display: grid;
   place-items: center;


    >span{
        display: grid;
        background-color:#2E294E;
        width: 95%;
        border-radius: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
        align-content: center;
        height: 50px;

        >a{

            color: white;




        }

    }

}


            >.contact_article {
                width: 70%;
                display: grid;
                place-items: center;
      height: 125px;
    grid-template-columns: 1fr 1fr;

align-items: center;


                >span {
              
           
                    place-items: center;
                    width: 90%;
                
    
  
      

    
                    >p {
                        align-self: center;
                        text-align: center;
                        color: white;
                        color: white;
                    }
    
    
    
                
                
                
                
                
                
                
                
                    }
            }
    
    
    
    
    
    
    
   


        }
        }
}


@media only screen and (min-width: 1080px){


    #page_main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    place-items: center;
        >#hero_section {
            width: 100%;
place-items: center;
    
            >.images_article {

                >span {

                    >.image1 {

    
    
    
                    }
    
                    >.image2 {

    
    
    
    
                    }
    
                    >.image3 {
    
          
    
    
    
    
                    }
                }
    
            }

            >.contact_article {
                width: 50%;
                display: grid;
                place-items: center;
      height: 200px;
    grid-template-columns: 1fr 1fr;

align-items: center;


                >span {
              
           
                    place-items: center;
                    width: 80%;
                
    
  
      

    
                    >p {
                        align-self: center;
                        text-align: center;
                        color: white;
                        color: white;
                    }
    
    
                }
            }
                
                
                
                
                
                
                
                
                
            >.contact_article_locations {
           height: 200px;
grid-template-columns: 1fr 1fr 1fr;
                display: grid;
                      align-items: center;
                place-items: center;
    width: 50%;
                >span {
                    color: white;
                    margin-top: 25px;
                    border-radius: 25px;
             
                    height: 135px;
                    grid-template-rows: 50px 50px;
                    place-items: center;
                    display: grid;
                    width: 75%;
                    background-color: #2E294E;
    
                }
            }
            >#submit{
                width: 60%;
    display: grid;
   place-items: center;


    >span{
        display: grid;
        background-color:#2E294E;
        width: 75%;
        border-radius: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
        align-content: center;
        height: 50px;

        >a{

            color: white;




        }

    }

}


  
    
    
    
    
   


        }
        }
}