@use "footer_products";
@use "header_products";



* {
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;
    background-color: #8661C1;

}



#page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    >#hero_section {
        display: grid;


        >.sweets_article {
            margin-bottom: 25px;
            grid-template-rows: 1fr 1fr 1fr;
            background-image: url(/images/1\ \(17\).avif);
            background-position: 50% 50%;
            object-fit: cover;
            height: 950px;
            display: grid;

            place-items: center;


            >#span_1 {
                grid-template-rows: 45px 25px 25px 25px 25px 25px;
                border-radius: 50px;
                padding-bottom: 25px;
                padding-top: 25px;
                width: 70%;
                display: grid;
                background-color: #2E294E;

                >h1 {
                    margin-left: 25px;
                    align-self: center;
                    justify-self: start;


                }

                >p {

                    margin-left: 25px;
                    text-align: start;
                    justify-self: start;

                }
            }

            >#span_2 {
                grid-template-rows: 45px 25px 25px 25px;
                border-radius: 50px;
                padding-bottom: 25px;
                padding-top: 25px;
                width: 70%;
                display: grid;
                background-color: #2E294E;

                >h1 {
                    margin-left: 25px;
                    align-self: center;
                    justify-self: start;


                }

                >p {

                    margin-left: 25px;
                    text-align: start;
                    justify-self: start;

                }
            }

            >#span_3 {
                grid-template-rows: 45px 25px 25px 25px 25px 25px;
                border-radius: 50px;
                padding-bottom: 25px;
                padding-top: 25px;
                width: 70%;
                display: grid;
                background-color: #2E294E;

                >h1 {
                    margin-left: 25px;
                    align-self: center;
                    justify-self: start;


                }

                >p {

                    margin-left: 25px;
                    text-align: start;
                    justify-self: start;

                }
            }



        }


        >#div {
            margin-top: 25px;
            margin-bottom: 25px;
            align-self: center;
            justify-self: center;
            text-align: center;
            width: 80%;
        }


        >.breads_article {
            display: grid;

            margin-bottom: 25px;
            place-items: center;
            grid-template-rows: 1fr 1fr;


            >.span_bread1 {
                color: white;
                border-radius: 25px;
                grid-template-rows: 200px 50px 25px 50px;
                display: grid;
                background-color: #2E294E;
                width: 80%;
                place-items: center;
                margin-top: 25px;


                >img {
                    object-fit: cover;
                    border-radius: 50%;
                    width: 150px;
                    height: 150px;
                }
            }

            >.span_bread2{
                color: white;
                border-radius: 25px;
                grid-template-rows: 50px 25px 50px 200px;
                display: grid;
                background-color: #2E294E;
                width: 80%;
                place-items: center;
margin-top: 25px;
               
                >img{
                    object-fit: cover;
                    border-radius: 50%;
                    width: 150px;
                    height: 150px;

                }

            }
        }



        >.custom_orders {
            display: grid;
            place-items: center;
            margin-top: 25px;
            margin-bottom: 25px;
            background-image: url(/images/1\ \(19\).avif);
            background-position: 50% 50%;
            height: 600px;

            >span {

                display: grid;
                grid-template-rows: 75px 125px 75px;
                width: 60%;

                >p {
                    color: white;
                }

                >h1 {
                    color: white;
                }

                >a {
                    color: white;


                }

            }
        }

    }

}


@media only screen and (min-width: 700px){




    #page_main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
        >#hero_section {
            display: grid;
            place-items: center;
align-content: center;

            >.sweets_article {
      
width: 90%;
border-radius: 25px;
grid-template-columns: 1fr 1fr;
height: 550px;
  
                >#span_1 {
                    align-content: center;
                    height: 175px;
                    margin-top: 25px;
                    margin-bottom: 25px;
                    width: 50%;
                    width: 70%;
                    display: grid;
                    >h1 {
                 
    
    
                    }
    
                    >p {
    
                  
    
                    }
                }
    
                >#span_2 {
                    grid-template-rows: 45px 42px 42px 42px;
    align-content: center;
                    height: 175px;
                    margin-top: 25px;
                    margin-bottom: 25px;
                    width: 50%;
                    width: 70%;
                    display: grid;
                    >h1 {
          
    
    
                    }
    
                    >p {
    
                 
    
                    }
                }
    
                >#span_3 {
                    align-content: center;
                    height: 175px;
                    margin-top: 25px;
                    margin-bottom: 25px;
                    width: 50%;
                    width: 70%;
                    display: grid;
                    >h1 {
                    
    
    
                    }
    
                    >p {
    
                     
    
                    }
                }
    
    
    
            }
    
    
            >#div {
                margin-top: 25px;
                margin-bottom: 25px;
                align-self: center;
                justify-self: center;
                text-align: center;
                width: 80%;
                font-size: 2em;
            }
    
    
            >.breads_article {
                display: grid;
height: 500px;
                margin-bottom: 25px;
                place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr; 


    >.span_bread1 {
        display: grid;
        width: 90%;
text-align: center;
grid-template-rows: 225px 75px 50px 75px;
    
        >img {
            object-fit: cover;
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
        >h3{
            justify-self: start;
            align-self: center;
 margin-left: 25px;
 
         }
         >p{
            align-self: center;
            text-align: start;
            margin-left: 20px;
            width: 80%;
         }
    
    }

    >.span_bread2{
        width: 90%;
        display: grid;
    
        grid-template-rows: 75px 50px 75px 225px;
        >img{
            object-fit: cover;
            border-radius: 50%;
            width: 150px;
            height: 150px;

        }


        >h3{
           justify-self: start;
           align-self: center;
margin-left: 25px;
        }
        >p{
            
            align-self: center;
            text-align: start;
            margin-left: 20px;
            width: 80%;
        }

    }


        }
    
            >.custom_orders {
                align-content: center;
                display: grid;
            place-items: center;
            margin-top: 25px;
            margin-bottom: 25px;
            background-image: url(/images/1\ \(19\).avif);
            background-position: 50% 50%;
            height: 600px;
                >span {
                    align-content: center;
                    display: grid;
                grid-template-rows: 115px 225px 115px;
                width: 60%;
                    >p {
                    font-size: 1.5em;
                    }
    
                    >h1 {
                font-size: 2em;
                    }
    
                    >a {
            
    font-size: 1.5em;
    
                    }
    
                }
            }
    
        }
    
    }
























}