@use "header";
@use "footer";



* {
    margin: 0;
    padding: 0;

}

p,
h1,
h3,
h2,
h4 {
    color: #BE97C6;


}

body {
    font-family: sans-serif;
    background-color: #8661C1;

}

#page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    >.hero_section {
        display: grid;


        >.article_1 {
            margin-top: 25px;
            margin-bottom: 25px;
            place-items: center;
            display: grid;


            >span {
                border-radius: 50px;
                grid-template-rows: 60px 125px 60px 60px;
                padding-bottom: 25px;
                padding-top: 25px;
                width: 80%;
                background-color: #2E294E;

                place-items: center;
                text-align: center;
                display: grid;

                >h1 {
                    justify-self: center;
                    text-align: center;
                    font-size: 1.5em;

                    color: #BE97C6;
                }

                >a {
                    width: 90%;
                    color: #EFBCD5;
                    font-size: 1.24em;
                }

                >p {

                    font-size: 1em;
                    width: 75%;
                    text-align: center;
                    justify-self: center;

                }

                >h4 {

                    font-size: 1.25em;
                }

                >#atag {
                    border-radius: 50px;
                    background-color: #8661C1;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    display: grid;
                    justify-self: center;
                    align-self: center;
                    color: #EFBCD5;
                    font-size: 1em;
                    width: 40%;



                }


            }

        }


        >.article_2 {
            margin-top: 25px;
            margin-bottom: 45px;
            place-items: center;
            display: grid;

            >span {
                border-radius: 50px;
                text-align: center;
                place-items: center;
                width: 80%;
                background-color: #2E294E;
                display: grid;
                grid-template-rows: 60px 40px 100px;

                >p {
                    color: #BE97C6;


                    align-self: center;
                    font-size: 1em;
                    font-weight: 600;
                }

                >a {
                    color: #EFBCD5;

                    align-self: center;
                    background: #8661C1;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-radius: 30px;
                    font-weight: bold;

                }

                >h4 {
                    color: #BE97C6;


                    align-self: center;
                }
            }
        }

        >.article_3 {

            display: grid;
            place-items: center;

            margin-top: 5px;
            margin-bottom: 5px;

            >span {
                border-radius: 25px;
                padding-top: 45px;
                padding-bottom: 45px;
                width: 80%;
                background-color: #2E294E;
                grid-template-rows: 125px 65px 65px;
                display: grid;
                place-items: center;

                >img {
                    width: 100px;
                    border-radius: 50%;
                    padding: 5px;
                    background-color: #8661C1;
                }



                >p {
                    width: 80%;
                    text-align: center;
                    font-size: 1em;

                    color: #BE97C6;

                }
            }
        }



        >.article_5 {
            display: grid;
            place-items: center;

            margin-top: 25px;
            margin-bottom: 25px;

            >span {
                border-radius: 25px;
                padding-top: 25px;
                padding: bottom 25px;
                background-color: #2E294E;
                grid-template-rows: 250px 50px 100px;
                width: 80%;
                display: grid;
                place-items: center;

                >p {

                    width: 90%;
                    text-align: center;
                    color: #BE97C6;

                    font-size: 1.1em;
                }

                .insta {

                    justify-self: center;
                    width: 20px;
                    padding: 10px;
                    background-color: #8661C1;
                    border-radius: 45%;

                }

                >img {
                    object-fit: cover;
                    border-radius: 50%;
                    align-self: center;
                    justify-self: center;
                    width: 65%;
                    height: 75%;
                }

            }
        }
    }

    >#hero_section_two {
        place-items: center;
        display: grid;

        >.section_2_article_1 {
            margin-top: 25px;
            margin-bottom: 25px;
            display: grid;
            place-items: center;

            >span {
                width: 80%;
                border-radius: 25px;
                grid-template-rows: 500px 300px;
                display: grid;
                background-color: #2E294E;

                >img {
                    border-radius: 25px;
                    align-self: center;
                    object-fit: cover;
                    justify-self: center;
                    width: 75%;
                    height: 400px;
                }

                h2 {
                    color: #BE97C6;
                    justify-self: center;
                    align-self: center;
                    width: 76%;
                    text-align: center;

                    font-size: 2em;
                }


            }
        }

>.section_2_article_2{


    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    place-items: center;

>span{
place-items: center;
display: grid;
width: 80%;

>img{
    border-radius: 25px;
width: 90%;
padding: 25px;
background-color:#2E294E ;
}

}

}

>.section_2_article_3{



    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    place-items: center;

>span{
    border-radius: 25px;
grid-template-rows: 300px 175px 125px;
place-items: center;
display: grid;
width: 80%;
background-color: #2E294E;
text-align: center;

>a{
    border-radius: 25px;
    background-color: #8661C1;
padding: 15px;
color: #BE97C6;


}

>p{

width: 80%;

}

>img{

align-self: center;
    width: 80%;
}

}
}








    }


}