@use "header";
@use "footer";



* {
    margin: 0;
    padding: 0;

}

p,
h1,
h3,
h2,
h4 {
    color: #BE97C6;


}

body {
    font-family: sans-serif;
    background-color: #8661C1;

}

#page_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    >#hero_section {
        display: grid;


        >.article_1 {
            margin-top: 25px;
            margin-bottom: 25px;
            place-items: center;
            display: grid;


            >#article_1_span_1 {
      
                margin-bottom: 25px;
                border-radius: 50px;
                grid-template-rows: 60px 125px 60px 60px;
                padding-bottom: 25px;
                padding-top: 25px;
                width: 80%;
                background-color: #2E294E;

                place-items: center;
                text-align: center;
                display: grid;

                >h1 {
                    justify-self: center;
                    text-align: center;
                    font-size: 1.5em;

                    color: #BE97C6;
                }

       
                >p {

                    font-size: 1em;
                    width: 75%;
                    text-align: center;
                    justify-self: center;

                }

                >h4 {

                    font-size: 1.25em;
                }

                >#atag {
                    border-radius: 50px;
                    background-color: #8661C1;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    display: grid;
                    justify-self: center;
                    align-self: center;
                    color: #EFBCD5;
                    font-size: 1em;
                    width: 40%;



                }


            }
            


        }



        

        >.article_3 {

            display: grid;
            place-items: center;

     

            >span {

                margin-top: 5px;
                margin-bottom: 5px;
                border-radius: 25px;
                padding-top: 45px;
                padding-bottom: 45px;
                width: 80%;
                background-color: #2E294E;
                grid-template-rows: 125px 65px 65px;
                display: grid;
                place-items: center;

                >img {
                    width: 100px;
                    border-radius: 50%;
                    padding: 5px;
                    background-color: #8661C1;
                }



                >p {
                    width: 80%;
                    text-align: center;
                    font-size: 1em;

                    color: #BE97C6;

                }
            }
        }




        



>.article_6{
    margin-top: 10px;
margin-bottom: 10px;

    display: grid;
    place-items: center;

            >#instaspan {
                height: 425px;
                border-radius: 25px;
        
                background-color: #2E294E;
                grid-template-rows: 250px 70px 100px;
                width: 80%;
                display: grid;
                place-items: center;

                >p {

                    width: 90%;
                    text-align: center;
                    color: #BE97C6;

                    font-size: 1.1em;
                }

                .insta {

                    justify-self: center;
                    width: 20px;
                    padding: 10px;
                    background-color: #8661C1;
                    border-radius: 45%;

                }

                >img {
                    object-fit: cover;
                    border-radius: 50%;
                    align-self: center;
                    justify-self: center;
                    width: 65%;
                    height: 75%;
                }

            }

>#article_span_1{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 700px;
border-radius: 25px;
    background-color: #2E294E;
text-align: center;
    width: 80%;
    display: grid;
    place-items: center;
grid-template-rows: 400px 250px; 
    >h2{
  

        width: 80%;
        font-size: 2em;
        
                }
    >img{


        object-fit: cover;
        border-radius: 50%;
        align-self: center;
        justify-self: center;
        width: 200px;
        height: 200px;


    }

}

>#article_span_2{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: #2E294E;
height: 300px;
    width: 75%;
    display: grid;
    place-items: center;
    >img{


        object-fit: cover;
        border-radius: 25px;
        align-self: center;
        justify-self: center;
        width: 250px;
        height: 250px;

    }

}
    >#article_span_3{
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
        background-color: #2E294E;
height: 950px;
        width: 90%;
        display: grid;
        place-items: center;
        text-align: center;
        >p{
font-size: 1em;
            width: 80%;
            letter-spacing: 1.5px;
        }

        >a{
font-size: 1em;
align-self: center;
padding: 15px;
background-color: #8661C1;
border-radius: 30px;


        }
        >img{

            object-fit: cover;
        border-radius: 25px;
            align-self: center;
            justify-self: center;
            width: 300px;
            height: 500px;

        }


    }


}
        








    }

    

}


@media only screen and (min-width: 700px){

    #page_main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    
        >#hero_section {
place-items: center;
     display: grid;
     align-content: center;
            >.article_1 {

                place-items: center;
                display: grid;
                align-content: center;

    width: 100%;
                >#article_1_span_1 {
                    width: 75%;
 height: 450px;
 grid-template-rows: 120px 125px 90px 90px;
                    >h1 {
      font-size: 2.5em;
                    }
    
        
    
                    >p {
 width: 70%;
    font-size: 1.5em;
                    }
    
                    >h4 {
    font-size: 1.8em;
                    }
    
                    >#atag {
     
                        border-radius: 50px;
                        background-color: #8661C1;
                        padding-bottom: 10px;
                        padding-top: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                        display: grid;
                        justify-self: center;
                        align-self: center;
                        color: #EFBCD5;
                        font-size: 1.4em;
                        width: 30%;
    
    
                    }
    
    
                }

            }







            >.article_3 {

                display: grid;
                place-items: center;
                margin-top: 0px;
                margin-bottom: 0px;
        width: 95%;
    grid-template-columns: 1fr 1fr;
                >span {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border-radius: 25px;
                    padding-top: 45px;
                    padding-bottom: 45px;
                    width: 95%;
                    background-color: #2E294E;
                
                    display: grid;
                    place-items: center;
    
                    >img {
                        width: 100px;
                        border-radius: 50%;
                        padding: 5px;
                        background-color: #8661C1;
                    }
    
    
    
                    >p {
                        width: 80%;
                        text-align: center;
                        font-size: 1em;
    
                        color: #BE97C6;
    
                    }
                }
            }
    




>.article_6{


    display: grid;
    place-items: center;
width: 95%;



    >#instaspan {
        height: 625px;
        border-radius: 25px;

        background-color: #2E294E;
        grid-template-rows: 450px 70px 100px;
        width: 90%;
        display: grid;
        place-items: center;

        >p {

            width: 90%;
            text-align: center;
            color: #BE97C6;

            font-size: 1.1em;
        }

        .insta {

            justify-self: center;
            width: 20px;
            padding: 10px;
            background-color: #8661C1;
            border-radius: 45%;

        }

        >img {
            object-fit: cover;
            border-radius: 50%;
            align-self: center;
            justify-self: center;
            width: 300px;
            height: 300px;
        }

    }



 >#article_span_1{
    width: 90%;
    height: 800px;
    display: grid;
    place-items: center;
grid-template-rows: 600px 150px; 

    >h2{


    }

    >img{
        object-fit: cover;
        border-radius: 50%;
        align-self: center;
        justify-self: center;
        width: 450px;
        height: 450px;

    }
 }

 >#article_span_2{
    height: 550px;
    width: 90%;
    display: grid;
    place-items: center;


>img{

    object-fit: cover;
            border-radius: 25px;
            align-self: center;
            justify-self: center;
            width: 450px;
            height: 425px;
    

}

}

>#article_span_3{
    height: 1150px;
    display: grid;
    place-items: center;
    text-align: center;
width: 90%;
    >p{

        font-size: 1.25em;
    }

    >a{

font-size: 1.25em;

    }

    >img{


        width: 500px;
        height: 700px;
    }
}
}












}


}


    
}
@media only screen and (min-width: 1080px){

    #page_main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(850px, 1fr));
    
        >#hero_section {
place-items: center;
     display: grid;
     align-content: center;
            >.article_1 {
width: 95%;
                place-items: center;
                display: grid;
                align-content: center;
                grid-template-columns: 1fr ;
    
                >#article_1_span_1 {
                    width: 45%;
 height: 450px;
 grid-template-rows: 120px 125px 90px 90px;
                    >h1 {
      font-size: 2.5em;
                    }
    
        
    
                    >p {
 width: 70%;
    font-size: 1.5em;
                    }
    
                    >h4 {
    font-size: 1.8em;
                    }
    
                    >#atag {
     
                        border-radius: 50px;
                        background-color: #8661C1;
                        padding-bottom: 10px;
                        padding-top: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                        display: grid;
                        justify-self: center;
                        align-self: center;
                        color: #EFBCD5;
                        font-size: 1.4em;
                        width: 30%;
    
    
                    }
    
    
                }

            }








            >.article_3 {

                display: grid;
                place-items: center;
                margin-top: 0px;
                margin-bottom: 0px;
        width: 85%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
                >span {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border-radius: 25px;
                    padding-top: 45px;
                    padding-bottom: 45px;
                    width: 95%;
                    background-color: #2E294E;
                
                    display: grid;
                    place-items: center;
    
                    >img {
                        width: 100px;
                        border-radius: 50%;
                        padding: 5px;
                        background-color: #8661C1;
                    }
    
    
    
                    >p {
                        width: 80%;
                        text-align: center;
                        font-size: 1em;
    
                        color: #BE97C6;
    
                    }
                }
            }
    


>.article_6{
    display: grid;
    place-items: center;
grid-template-columns: 1fr 1fr 1fr;
width: 85%;

>#instaspan {
    height: 825px;
    border-radius: 25px;

    background-color: #2E294E;
    grid-template-rows: 650px 70px 100px;
    width: 96%;
    display: grid;
    place-items: center;

    >p {

        width: 90%;
        text-align: center;
        color: #BE97C6;

        font-size: 1.1em;
    }

    .insta {

        justify-self: center;
        width: 20px;
        padding: 10px;
        background-color: #8661C1;
        border-radius: 45%;

    }

    >img {
        object-fit: cover;
        border-radius: 50%;
        align-self: center;
        justify-self: center;
        width: 250px;
        height: 250px;
    }

}

>#article_span_1{
    width: 96%;
    display: grid;
    height: 825px;
    grid-template-rows: 650px 170px;
    >p{

width: 75%;
font-size: 1.4em;


    }


    .insta{

        width: 25px;

    }

    >img{

        width: 250px;
        height: 250px;

    }
} 

>#article_span_2{
    display: none;
    width: 95%;
    height: 825px;

    place-items: center;


    >h2{


    }

    >img{
        display: none;
        object-fit: cover;
        border-radius: 25px;
        align-self: center;
        justify-self: center;
        width: 250px;
        height: 250px;

    }
 }








>#article_span_3{
    height: 825px;
    width: 96%;
    display: grid;
    place-items: center;


>img{

    object-fit: cover;
            border-radius: 25px;
            align-self: center;
            justify-self: center;
            width: 250px;
            height: 425px;
    

}

}


}









}


}




}